<!--*ngFor="let ele of informazioniBackend"-->
<div class="page">

  <div class="title">
    <div class="backContainer">
      <button (click)="goBack()" mat-button>
        <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
        <span class="backText">Torna alla ricerca</span>
      </button>
    </div>
    <h2>Nuova proposta di revoca</h2>

    <div [hidden]="!error">
      <div  class="content width-100-perc margin-0 max-width-89-perc">
        <mat-card  class="mat-card mat-focus-indicator messageError"
          >
          <mat-card-content  class="mat-card-content messageWarningContent"
            >
            <p  id="ellipsisP" class="white-space-nowrap text-overflow-ellipsis overflow-hidden">
              {{messageError}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div [hidden]="!success">
      <div  class="content width-100-perc margin-0 max-width-89-perc">
        <mat-card  class="mat-card mat-focus-indicator messageSuccess"
          >
          <mat-card-content  class="mat-card-content messageWarningContent"
            >
            <p  id="ellipsisP" class="white-space-nowrap text-overflow-ellipsis overflow-hidden">
              Salvataggio terminato con successo!
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>



  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="content">
      <mat-card>
        <!-- BENEFICIARIO -->
        <div class="fullWidth">
          <mat-form-field class="elem1" appearance="standard">
            <mat-label>Selezionare un beneficiario</mat-label>
            <input matInput formControlName="beneficiario" [matAutocomplete]="auto1"
              (input)="suggerimentoBeneficiario($event.target.value)">
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayBeneficiario">
              <mat-option *ngFor="let option of suggBeneficiario" [value]="option">
                {{option.desc}} - {{option.altro}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


        <!-- BANDO -->
        <div class="fullWidth">
          <mat-form-field class="elem1" appearance="standard">
            <mat-label>Selezionare un bando</mat-label>
            <input matInput formControlName="bando" [matAutocomplete]="auto2"
              (click)="suggerimentoBando($event.target.value)" (input)="suggerimentoBando($event.target.value)">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayBando">
              <mat-option *ngFor="let option of suggBando" [value]="option">
                {{option.desc}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


        <!-- PROGETTO -->
        <div class="fullWidth">
          <mat-form-field class="elem1" appearance="standard">
            <mat-label>Selezionare un progetto</mat-label>
            <input matInput formControlName="progetto" [matAutocomplete]="auto3"
              (click)="suggerimentoProgetto($event.target.value)" (input)="suggerimentoProgetto($event.target.value)">
            <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayProgetto">
              <mat-option *ngFor="let option of suggProgetto" [value]="option">
                {{option.desc}} - {{option.altro}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="myForm.get('progetto')?.errors?.required">
              È obbligatorio specificare il progetto
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card>




    </div>

    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-content class="mat-card-content">
          <div>Numero proposta di revoca: <strong>{{numeroPropostaRevoca}}</strong></div>
          <div class="d-flex">
            <div class="fullWidth">
              <mat-form-field class="elem2" appearance="standard">
                <mat-label>Selezionare una causa della proposta di revoca</mat-label>

                <mat-select matInput formControlName="causaPropRevoca"
                  (selectionChange)="causaPropRevocaSelezionata($event)">
                  <mat-option *ngFor="let el of suggCausaPropRevoca" [value]="el">
                    {{el.desc}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.get('causaPropRevoca')?.errors?.required">
                  È obbligatorio specificare la causa della proposta di revoca
                </mat-error>

                <!--
                <input formControlName="causaPropRevoca" matInput
                  placeholder="Selezionare una causa della proposta di revoca" [matAutocomplete]="autoCausa"
                  (input)="suggerimentoCausaPropostaRevoca($event.target.value)" />
                <mat-autocomplete autoActiveFirstOption #autoCausa="matAutocomplete"
                  (optionSelected)="causaPropRevocaSelezionata($event)">
                  <mat-option style="font-size:0.9rem;" *ngFor="let el of suggCausaPropRevoca" [value]="el">
                    {{el.descCausaleBlocco}}
                  </mat-option>
                </mat-autocomplete>
                -->
              </mat-form-field>
            </div>

            <div class="fullWidth">
              <mat-form-field class="elem2" appearance="standard">
                <mat-label>Selezionare un'autorità controllante</mat-label>

                <mat-select matInput formControlName="autoritaControllante">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let el of suggAutoritaControllante" [value]="el">
                    {{el.desc}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.get('autoritaControllante')?.errors?.required">
                  È obbligatorio specificare un'autorità controllante
                </mat-error>

                <!--
                <input formControlName="autoritaControllante" matInput
                  placeholder="Selezionare un'origine della proposta di revoca" [matAutocomplete]="autoAutorita" />
                <mat-autocomplete autoActiveFirstOption #autoAutorita="matAutocomplete">
                  <mat-option style="font-size:0.9rem;" *ngFor="let el of suggAutoritaControllante" [value]="el">
                    {{el.descAutoritaControllante}}
                  </mat-option>
                </mat-autocomplete>
                -->
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-content class="mat-card-content">
          <div>Data proposta di revoca: <strong>{{today | date:'dd/MM/yyyy'}}</strong></div>
          <div>Stato proposta di revoca: <strong>NUOVA</strong></div>
          <div>Data stato proposta di revoca: <strong>{{today | date:'dd/MM/yyyy'}}</strong></div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-content class="mat-card-content">
          Istruttore che ha avvio l'istruttoria: <strong> {{user?.nome}} {{user?.cognome}} </strong>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <div class="flexEnd margin-bottom-5">
        <button type="submit" mat-raised-button class="button-style-2">
          SALVA
        </button>
      </div>
    </div>
  </form>
</div>
