<!-- <mat-spinner class="page" *ngIf="isLoading()"></mat-spinner>
<div class="page" [ngClass]="{'displayNone': isLoading()}"> -->
<div>
    <mat-card class="padding0">
        <mat-card-header>
            <mat-card-title>
                <h3 class="cardtitle">Saldo e stralcio</h3>
            </mat-card-title>
        </mat-card-header>


        <mat-card-content class="scroll">

            <!--SPINNER-->
            <div style="height: 100%;" *ngIf="isLoading()">
                <mat-spinner class="loading"></mat-spinner>
            </div>
            <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isSaveSuccess">
                <mat-card-content class="messageSuccessContent">
                    <p>Salvato</p>
                </mat-card-content>
            </mat-card>


            <div *ngIf=isAttiva>

                <div *ngIf=!isStorico>
                    Nessun saldo e stralcio presente
                </div>

                <div *ngIf=isStorico>
                    <table mat-table [dataSource]="storicoSaldoStralcio" multiTemplateDataRows style="width: 100%;">

                        <!-- Descrizione Esito -->
                        <ng-container matColumnDef="esito">
                            <th mat-header-cell *matHeaderCellDef> <b> Esito </b> </th>
                            <td mat-cell *matCellDef="let element"> {{element.descEsito}} </td>
                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="dataEsito">
                            <th mat-header-cell *matHeaderCellDef> <b>Data esito</b> </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.dataEsito|date:"dd/MM/yyyy"}}</td>
                        </ng-container>

                        <!-- Istruttore Column -->
                        <ng-container matColumnDef="utente">
                            <th mat-header-cell *matHeaderCellDef> <b>Utente modifica</b> </th>
                            <td mat-cell *matCellDef="let element"> {{ element.cognome +' '+
                                element.nome}} </td>
                        </ng-container>

                        <!-- Row Options Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" layout="row" style="white-space: nowrap;">
                                <div class="text-right">
                                    <button mat-icon-button (click)="modifica(element.idSaldoStralcio)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button mat-icon-button
                                        (click)="expandedElement = expandedElement != element ? element : null">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                                            visibility
                                        </mat-icon>
                                    </button>

                                </div>
                            </td>
                        </ng-container>

                        <!-- per visualizzare i dettagli del saldo e stralcio: expanded -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="detailBoxRow">
                                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                    <p style="padding-top: 5px;"><b>Data proposta: </b>{{element.dataProposta|date:"dd/MM/yyyy"}}</p>
                                    <p><b>Data accettazione: </b>{{element.dataAcettazione|date:"dd/MM/yyyy"}}</p>
                                    <p><b>Tipo saldo e stralcio: </b>{{element.descSaldoStralcio}}</p>
                                    <p><b>Importo debitore: </b>{{element.impDebitore | number: '1.2-2' : 'it'}}</p>
                                    <p><b>Importo Confidi: </b>{{element.impConfindi | number: '1.2-2' : 'it'}}</p>
                                    <p><b>Data pagamento debitore: </b>{{element.dataPagamDebitore|date:"dd/MM/yyyy"}}</p>
                                    <p><b>Data pagamento Confidi: </b>{{element.dataPagamConfidi|date:"dd/MM/yyyy"}}</p>
                                    <p><b>Importo Disimpegno: </b>{{element.impDisimpegno | number: '1.2-2' : 'it'}}</p>
                                    <p><b>Agevolazione: </b>{{element.flagAgevolazione ? "Si" : "No"}}</p>
                                    <p><b>Recupero: </b>{{element.descRecupero}}</p>
                                    <p><b>Importo effettivamente recuperato: </b>{{element.impRecuperato}}</p>
                                    <p><b>Importo da passare a perdita: </b>{{element.impPerdita | number: '1.2-2' : 'it'}}</p>
                                    <p><b>Note: </b>{{element.note}}</p>
                                    
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                            [class.example-expanded-row]="expandedElement === element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                    </table>
                </div>
                
            </div>
        </mat-card-content>

        <!-- *ngIf="user.codiceRuolo === 'ISTR-CREDITI'" -->
        
        <mat-card-actions align="end">
            <button mat-button class="button-style-1" (click)="openStorico()" [disabled]="disableStorico == true">STORICO</button>
            <div fxFlex></div>
        
            <button mat-raised-button class="button-style-2" (click)="openDialog()" [disabled]="!checkIsNuovoSaldoStralcio()">NUOVO SALDO E
                STRALCIO
            </button>
        </mat-card-actions>
    </mat-card>
</div>