<div mat-dialog-title>
  <div class="spaceBetween">
    <h3 class="bold-text">Dettaglio Riassicurazione</h3><!-- per {{header}}-->
    <button type="button" mat-icon-button class="blue-color" (click)="closeDialog()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <mat-card class="messageSuccess" *ngIf="showSucc">
    <mat-card-content class="messageSuccessContent">
      <p>{{succMsg}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="messageError" *ngIf="showError">
    <mat-card-content class="messageErrorContent">
      <p>{{errorMsg}}</p>
    </mat-card-content>
  </mat-card>

</div>

<mat-dialog-content>

  <mat-spinner-pbandi class="page" *ngIf="isSpinnerSpinning"></mat-spinner-pbandi>
  
  <ng-template #loadingSpaceTemplate>
    <div style="height: 50vh;">
      <mat-spinner class="loading"></mat-spinner>
    </div>    
  </ng-template>

  <div [formGroup]="editForm" *ngIf="!isLoading; else loadingSpaceTemplate">
    <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 20px;">

      <div>
        <p>
          Linea intervento Soggetto: <b>{{dettRiass.lineaInterventoSogg ? dettRiass.lineaInterventoSogg : '-'}}</b>
        </p>
        <p>
          Ragione sociale: <b>{{dettRiass.ragioneSociale ? dettRiass.ragioneSociale : '-'}}</b>
        </p>
        <p>
          Forma giuridica: <b>{{dettRiass.descFormaGiuridica ? dettRiass.descFormaGiuridica : '-'}}</b>
        </p>
        <p>
          Codice Fiscale: <b>{{dettRiass.codiceFiscale ? dettRiass.codiceFiscale : '-'}}</b>
        </p>
        <p>
          Indirizzo sede Destinatario: <b>{{dettRiass.indirizzoSedeDestinatario ? dettRiass.indirizzoSedeDestinatario : '-'}}</b>
        </p>
        <p>
          Località sede Destinatario: <b>{{dettRiass.localitaSedeDestinatario ? dettRiass.localitaSedeDestinatario : '-'}}</b>
        </p>
        <p>
          Provincia sede Destinatario: <b>{{dettRiass.provinciaSedeDestinatario ? dettRiass.provinciaSedeDestinatario : '-'}}</b>
        </p>
        <p>
          Ateco: <b>{{dettRiass.descAteco ? dettRiass.descAteco : '-'}}</b>
        </p>
        <p>
          Importo Finanziato: <b>{{dettRiass.importoFinanziato ? (dettRiass.importoFinanziato | number: '1.2-2' : 'it') : '-'}}</b>
        </p>
        <p>
          Importo Garanzia: <b>{{dettRiass.importoGaranzia ? (dettRiass.importoGaranzia | number: '1.2-2' : 'it') : '-'}}</b>
        </p>
        <p>
          Importo Ammesso: <b>{{dettRiass.importoAmmesso ? (dettRiass.importoAmmesso | number: '1.2-2' : 'it') : '-'}}</b>
        </p>
      </div>
  
      <div>
       
        <p>
          Importo Escusso: <b *ngIf="!isInEditing">{{dettRiass.importoEscusso ? (dettRiass.importoEscusso | number: '1.2-2' : 'it') : '-'}}</b>
          <span>
            <mat-form-field appearance="standard" *ngIf="isInEditing" class="control">
              <mat-label>Importo Escusso</mat-label>
              <input matInput type="text" formControlName="importoEscusso" (blur)="formattaImportoOnBlur()">
              <!--(keydown)="numericOnly($event)"-->
              <button mat-button mat-icon-button matSuffix *ngIf="editForm.get('importoEscusso').value"
                (click)="editForm.get('importoEscusso').setValue(null); editForm.get('importoEscusso').markAsDirty();" class="icons">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </span>
  
          <!--<button mat-icon-button><mat-icon>edit</mat-icon></button>-->
        </p>
        <p>
          Percentuale Garanzia: <b>{{dettRiass.percentualeGaranzia ? dettRiass.percentualeGaranzia + '%' : '-'}}</b>
        </p>
        <p>
          Percentuale Riassicurato: <b>{{dettRiass.percentualeRiassicurato ? dettRiass.percentualeRiassicurato + '%' : '-'}}</b>
        </p>
        <p>
          Data erogazione Mutuo: <b>{{dettRiass.dataErogazioneMutuo ? (dettRiass.dataErogazioneMutuo | date:'dd/MM/yyyy') : '-'}}</b>
        </p>
        <p>
          Data delibera Mutuo: <b>{{dettRiass.dataDeliberaMutuo ? (dettRiass.dataDeliberaMutuo | date:'dd/MM/yyyy') : '-'}}</b>
        </p>
        <p>
          Data emissione Garanzia: <b>{{dettRiass.dataEmissioneGaranzia ? (dettRiass.dataEmissioneGaranzia | date:'dd/MM/yyyy') : '-'}}</b>
        </p>
        <p>
          Data scadenza Mutuo: <b>{{dettRiass.dataScadenzaMutuo ? (dettRiass.dataScadenzaMutuo | date:'dd/MM/yyyy') : '-'}}</b>
        </p>
        <p>
          Data Scarico: <b *ngIf="!isInEditing">{{dettRiass.dataScarico ? (dettRiass.dataScarico | date:'dd/MM/yyyy') : '-'}}</b>
          <!--<mat-form-field appearance="standard">
            <mat-label>Data Scarico</mat-label>
            <input matInput type="date" formControlName="dataScarico">
          </mat-form-field>-->
  
          <mat-form-field appearance="standard" *ngIf="isInEditing" class="control">
            <mat-label>Data Scarico</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dataScarico" class="datepicker" disabled>
            <button mat-button mat-icon-button matSuffix *ngIf="editForm.get('dataScarico').value"
              (click)="editForm.get('dataScarico').setValue(null); editForm.get('dataScarico').markAsDirty();" class="icons">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="picker1" class="icons"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
          </mat-form-field>
  
          <!--<button mat-icon-button><mat-icon>edit</mat-icon></button>-->
        </p>
        <p>
          Data Revoca: <b>{{dettRiass.dataRevoca | date:'dd/MM/yyyy'}}</b>
        </p>
        <p>
          Data Escussione: <b *ngIf="!isInEditing">{{dettRiass.dataEscussione ? (dettRiass.dataEscussione | date:'dd/MM/yyyy') : '-'}}</b>
          <!--<mat-form-field appearance="standard">
              <mat-label>Data Escussione</mat-label>
              <input matInput type="date" formControlName="dataEscussione">
            </mat-form-field>-->
  
          <mat-form-field appearance="standard" *ngIf="isInEditing" class="control">
            <mat-label>Data Escussione</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="dataEscussione" class="datepicker" disabled>
            <button mat-button mat-icon-button matSuffix *ngIf="editForm.get('dataEscussione').value"
              (click)="editForm.get('dataEscussione').setValue(null); editForm.get('dataEscussione').markAsDirty();" class="icons">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="picker2" class="icons"></mat-datepicker-toggle>
            <mat-datepicker #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>
  
          <!--<button mat-icon-button><mat-icon>edit</mat-icon></button>-->
        </p>
  
      </div>
  
    </div>
  </div>
  

</mat-dialog-content>

<mat-dialog-actions class="spaceBetween">
  <button mat-button class="button-style-1" mat-dialog-close [disabled]="isLoading" *ngIf="!isInEditing">CHIUDI</button>
  <button mat-button class="button-style-1" *ngIf="isInEditing" [disabled]="isLoading" (click)="reset()">ANNULLA</button>

  <button mat-button class="button-style-2" [disabled]="isLoading" *ngIf="!isInEditing" (click)="modifica()">MODIFICA</button>
  <button mat-button class="button-style-2" [disabled]="isLoading" *ngIf="isInEditing" (click)="salva()">SALVA</button>
</mat-dialog-actions>








  <!--<div class="content" [hidden]="!error">
    <mat-card-content class="messageError">
    <p id="ellipsisP" >ERRORE</p>
    <span>{{messageError}}</span>
    </mat-card-content>
  </div>
  <div mat-dialog-content *ngIf="!isLoading">
    <mat-card class="messageError" *ngIf="showError">
      <mat-card-content class="messageErrorContent">
        <p>{{errorMsg}}</p>
      </mat-card-content>
    </mat-card>
  </div>
    <div class="content"*ngIf="erroreAllegato === true">
      <mat-card-content class="messageError">
      <p >ERRORE</p>
      <span>{{messageAllegato}}</span>
      </mat-card-content>
    </div>

    <div class="content" *ngIf="erroreAllegato === false">
        <mat-card-content class="messageSuccess">
        <p >SUCCESSO</p>
        <span>{{messageAllegato}}</span>
        </mat-card-content>
    </div>
  <form [formGroup]="myForm">

    

      <mat-form-field class="w-50" appearance="standard">
        <mat-label>Giorni scadenza</mat-label>
        <input matInput type="number" formControlName="giorniScadenza">
        <mat-error *ngIf="myForm.get('giorniScadenza')?.errors?.required">
          È obbligatorio specificare il numero di giorni scadenza 
        </mat-error>
      </mat-form-field>

    <div class="col" style="margin-top: 2em;">
      <div >
        <button [disabled]="allegatiInseriti == true" mat-button class="button-style-1" (click)="uploadFileEscussione.click()">AGGIUNGI ALLEGATO</button>
        <input type="file" [hidden]="true" #uploadFileEscussione id="uploadFileEscussione" name="uploadFileEscussione"
          (change)="handleFileEscussione($event.target.files)" />
      </div>
      
    

      <div style="display: flex; align-items: baseline;">
        <h3>Lettera accompagnatoria :</h3>
        <div *ngFor="let file of allegati; let i = index" class="alignItemsCenter">
        <span> <span class="bold-text">{{file.name}}</span> - {{file.size}} bytes</span>
        <button mat-icon-button class="red-color" matTooltip="Elimina" (click)="eliminaFileIntegrazioneLocale(i)">
            <mat-icon>delete</mat-icon>
        </button>
        </div>
    </div>
  
    </div>

  </form>
</div>
-->
