<mat-spinner-pbandi class="page" *ngIf="spinner"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone': spinner}" id="scrollId">
    <div class="title">
        <div class="backContainer">
            <button (click)="goBack()" mat-button *ngIf="whereTheFuImFrom == '1'">
                <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
                <span class="backText">Torna alla ricerca delle Garanzie</span>
            </button>
            <button (click)="goBack()" mat-button *ngIf="whereTheFuImFrom == '2'">
                <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
                <span class="backText">Torna alla ricerca delle Riassicurazioni</span>
            </button>
        </div>
        <h2>Gestione escussione</h2>
    </div>

    <div class="content">
        <mat-card>
            <div class="cod-progetto">
                <p>Bando: <span class="bold-text">{{schedaClienteMain[0]?.bando === null ? "-" :
                        schedaClienteMain[0]?.bando}}</span></p>
            </div>
            <p>
                Codice progetto: <b>{{schedaClienteMain[0]?.progetto === null ? "-" : schedaClienteMain[0]?.progetto}}</b>
                <button class="button-style-1" mat-button (click)="openDialogDatiProgettoAttivitaPregresse()">DATI PROGETTO ATTIVIT&Agrave; PREGRESSE</button>
                <button class="button-style-1" mat-button (click)="openDialogContoEconomico()">CONTO ECONOMICO</button>
            </p>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="mat-elevation-z2">
            <mat-card-title>
                <h3>Dati anagrafici</h3>
            </mat-card-title>
            <mat-card-content>
                <table class="content-table">
                    <tr>
                        <td>Beneficiario: <b>{{beneficiario}}</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Codice fiscale: <b>{{schedaClienteMain[0]?.codiceFiscale === null ? "-" : schedaClienteMain[0]?.codiceFiscale}}</b></td>
                        <td>Partita IVA: <b>{{schedaClienteMain[0]?.partitaIva === null ? "-" : schedaClienteMain[0]?.partitaIva}}</b></td>
                    </tr>
                    <tr>
                        <td>Forma giuridica: <b>{{schedaClienteMain[0]?.formaGiuridica === null ? "-" : schedaClienteMain[0]?.formaGiuridica}}</b></td>
                        <td>Tipo anagrafica: <b>{{schedaClienteMain[0]?.tipoAnagrafica === null ? "-" : schedaClienteMain[0]?.tipoAnagrafica}}</b></td>
                    </tr>
                    <tr>
                        <td>Denominazione banca: <b>{{schedaClienteMain[0]?.denominazioneBanca === null ? "-" : schedaClienteMain[0]?.denominazioneBanca}}</b></td>
                        <td></td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="content">
        <mat-card>
            <mat-card-title>
                <h3>Dettaglio garanzia</h3>
            </mat-card-title>
            <mat-card-content class="dettaglio-elem">
                <div>
                    <table mat-table [dataSource]="dataSource2" multiTemplateDataRows class="tab" matSort
                   [ngClass]="{'displayNone': !dataSource2 || !dataSource2.data?.length }">
                    
                        <ng-container matColumnDef="tipoAgevolazione">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo agevolazione:</th>
                            <td mat-cell *matCellDef="let element">{{!(element.tipoAgevolazione) ? "-" :
                                element.tipoAgevolazione}}</td>
                        </ng-container>
                        <ng-container matColumnDef="importoAmmesso">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importo ammesso:</th>
                            <td mat-cell *matCellDef="let element">{{!(element.importoAmmesso) ? "-" :
                                element.importoAmmesso | number: '1.2-2' : 'it'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="totaleFondo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Totale fondo:</th>
                            <td mat-cell *matCellDef="let element">{{!( element.totaleFondo) ? "-" : element.totaleFondo | number: '1.2-2' : 'it'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="totaleBanca">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Totale banca:</th>
                            <td mat-cell *matCellDef="let element">{{!(element.totaleBanca) ? "-" : element.totaleBanca | number: '1.2-2' : 'it'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dtConcessione">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data concessione:</th>
                            <td mat-cell *matCellDef="let element">{{!(element.dtConcessione) ? "-" :
                                element.dtConcessione | date:'dd/MM/yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="dtErogazioneFinanziamento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data erogazione:</th>
                            <td mat-cell *matCellDef="let element">{{!(element.dtErogazioneFinanziamento) ? "-" :
                                element.dtErogazioneFinanziamento | date:'dd/MM/yyyy'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="importoDebitoResiduo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importo debito residuo:</th>
                            <td mat-cell *matCellDef="let element"><!--{{!( element.importoDebitoResiduo) ? "-" : element.importoDebitoResiduo | number: '1.2-2' : 'it'}}-->{{10000 | number: '1.2-2' : 'it'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="importoEscusso">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Importo escusso:</th>
                            <td mat-cell *matCellDef="let element">{{ !(element.importoEscusso) ? "-" :
                                element.importoEscusso | number: '1.2-2' : 'it'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="statoCredito">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stato credito:</th>
                            <td mat-cell *matCellDef="let element">{{element?.statoCredito=== null ? "-" :
                                element?.statoCredito}}</td>
                        </ng-container>
                        <ng-container matColumnDef="revocaBancaria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Revoca bancaria:</th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="(element.revocaBancaria === 'Si' || element.revocaBancaria === 'Sì')" mat-button (click)="openRevocaBancaria(idProgetto, element.totaleFondo, element.totaleBanca)" color="primary">
                                    {{element.revocaBancaria}}
                                </button>
                                <span *ngIf="(element.revocaBancaria === 'No')">
                                    {{element.revocaBancaria}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="azioniRecuperoBanca">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Azioni recupero banca:</th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="(element.azioniRecuperoBanca === 'Si' || element.azioniRecuperoBanca === 'Sì')" (click)="openAzioniRecuperoBanca(idProgetto, element.totaleFondo, element.totaleBanca)" mat-button color="primary">
                                    {{element.azioniRecuperoBanca}}
                                </button>
                                <span *ngIf="(element.azioniRecuperoBanca === 'No')">
                                    {{element.azioniRecuperoBanca}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="saldoEStralcio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo e stralcio:</th>
                            <td mat-cell *matCellDef="let element">
                                <button *ngIf="(element.saldoEStralcio === 'Si' || element.saldoEStralcio === 'Sì')" (click)="openSaldoStralcio(idProgetto, element.totaleFondo, element.totaleBanca)" mat-button color="primary">
                                    {{element.saldoEStralcio}}
                                </button>
                                <span *ngIf="(element.saldoEStralcio === 'No')">
                                    {{element.saldoEStralcio}}
                                </span>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedInnerColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedInnerColumns;"
                            class="example-element-row" [class.example-expanded-row]="expandedElement === element"></tr>
                    </table> 

                    <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [showFirstLastButtons]="true"
                    [ngClass]="{'displayNone': !dataSource2 || !dataSource2.data?.length}" #garanziaPaginator>
                  </mat-paginator>-->
                </div>

                <br>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="content" [ngClass]="{'displayNone': whereTheFuImFrom != '1'}">
        <mat-card class="mat-elevation-z2">

                <mat-card class="messageSuccess" *ngIf="showTrueSucc">
                    <mat-card-content class="messageSuccessContent">
                        <p>{{succMsg}}</p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="messageError" *ngIf="showTrueError">
                    <mat-card-content class="messageErrorContent">
                        <p>{{errorMsg}}</p>
                    </mat-card-content>
                </mat-card>

            <mat-card-title>
                <div class="button_title">
                    <span>
                        <h3>Credito</h3>
                    </span>
                    <span class="actions">
                        <button mat-raised-button class="button-style-2" (click)="modificaCredito()">MODIFICA</button>
                        <button mat-button class="button-style-1" (click)="openStoricoCredito()">STORICO</button>
                    </span>
                </div>
                
            </mat-card-title>
            <mat-card-content class="w-btn">
                <span>
                    Stato credito Finpiemonte: <b>{{ !descStatoCredito ? "-" : descStatoCredito}}</b>
                </span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="mat-elevation-z2">
            <mat-card-title>
                <div class="button_title">
                    <span>
                        <h3>Escussione</h3>
                    </span>
                    <span class="actions">
                        <span>

                            <!--statoEscussione in istruttoria apre cdu 12-->
                            <button *ngIf="infoEscussione?.idStatoEscussione == 1" mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">MODIFICA ESCUSSIONE</button>

                            <!--statoEscussione in istruttoria apre cdu 12-->
                            <button *ngIf="infoEscussione?.idStatoEscussione == 2" mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">MODIFICA ESCUSSIONE</button>
                            <!--statoEscussione richiesta integrazione apre cdu 13-->
                            <button *ngIf="infoEscussione?.idStatoEscussione == 3" mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">MODIFICA ESCUSSIONE</button>
                            <!--statoEscussione ricezione integrazione apre cdu 14-->
                            <button *ngIf="infoEscussione?.idStatoEscussione == 4" mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">MODIFICA ESCUSSIONE</button>
                            <!--statoEscussione esito positivo apre cdu 15-->
                            <button *ngIf="infoEscussione?.idStatoEscussione == 5 && infoEscussione?.idTipoEscussione != 3" mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">MODIFICA ESCUSSIONE</button>
                            <!--statoEscussione esito negativo apre cdu 15-->
                            <button *ngIf="infoEscussione?.idStatoEscussione == 6" mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">MODIFICA ESCUSSIONE</button>

                            <!--idEscussione == null-->
                            <button *ngIf="infoEscussione?.idEscussione == null" mat-raised-button class="button-style-2" (click)="nuovaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione)">NUOVA ESCUSSIONE</button>
                            <!--tipoEscussione == acconto ed e stato inviato l'esito-->
                            <button *ngIf="infoEscussione?.idTipoEscussione == 3 && infoEscussione?.idStatoEscussione == 5 && infoEscussione?.esitoInviato == true " mat-raised-button class="button-style-2" (click)="nuovaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione,infoEscussione?.esitoInviato)">NUOVA ESCUSSIONE</button>
                            <button *ngIf="infoEscussione?.idTipoEscussione == 3 && infoEscussione?.idStatoEscussione == 5 && infoEscussione?.esitoInviato == false " mat-raised-button class="button-style-2" (click)="inserisciModificaEscussione(infoEscussione?.idStatoEscussione,infoEscussione?.idTipoEscussione,infoEscussione?.esitoInviato)">MODIFICA ESCUSSIONE</button>
                            
                            <button mat-raised-button class="button-style-2" *ngIf="infoEscussione?.idEscussione == null || !(infoEscussione?.idTipoEscussione == 3 && infoEscussione?.idStatoEscussione == 5 && infoEscussione?.esitoInviato == true)" (click)="cambiaStato(infoEscussione?.idStatoEscussione)">CAMBIA STATO</button>
                        </span>
                        <!--<span *ngIf="isImportoRichiestoRaggiunto()">
                            <button mat-raised-button class="button-style-2" [disabled]="true">MODIFICA ESCUSSIONE</button>
                        </span>-->
                            <button mat-button class="button-style-1" (click)="openStoricoEscussione()">STORICO</button>
                        
                        
                    </span>
                </div>
            </mat-card-title>
            <mat-card class="messageError" *ngIf="showError2">
                <mat-card-content class="messageErrorContent">
                  <p>{{messageError}}</p>
                </mat-card-content>
            </mat-card>

            <!--Solo per scopo di demo-
            <mat-card class="messageError" *ngIf="isImportoRichiestoRaggiunto()">
                <mat-card-content class="messageErrorContent">
                  <p>Limite escussione raggiunto.</p>
                </mat-card-content>
            </mat-card>-->

            <mat-card-content class="w-btn" style="align-content: flex-end; align-items: flex-end;">
                <span *ngIf="!(infoEscussione?.idTipoEscussione == 3 && infoEscussione?.idStatoEscussione == 5 && infoEscussione?.esitoInviato == true)">
                    <table class="content-table">
                        
                        <tr>
                            <td>Data ricevimento richiesta escussione: 
                                <b>{{infoEscussione?.dataRicevimentoEscussione === null ? "-" : infoEscussione?.dataRicevimentoEscussione | date:'dd/MM/yyyy'}}</b></td>
                            <td>N. protocollo: <b>{{infoEscussione?.numProtoRichiesta === null ? "-" :
                                infoEscussione?.numProtoRichiesta}}</b></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>Tipo di escussione: <b>{{infoEscussione?.tipoEscussione === null ? "-" :
                                infoEscussione?.tipoEscussione}}</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>Stato escussione: <b>{{infoEscussione?.statoEscussione === null ? "-" :
                                infoEscussione?.statoEscussione}}</b></td>
                            <td>Data stato: <b>{{infoEscussione?.dataStato === null ? "-" :
                                infoEscussione?.dataStato| date:'dd/MM/yyyy'}}</b></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>Data notifica: <b>{{infoEscussione?.dataNotifica === null ? "-" :
                                infoEscussione?.dataNotifica| date:'dd/MM/yyyy'}}</b></td>
                            <td>N. protocollo: <b>{{infoEscussione?.numProtoNotifica === null ? "-" :
                                infoEscussione?.numProtoNotifica}}</b></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>Importo richiesto: <b>{{infoEscussione?.importoRichiesto === null ? "-" :
                                infoEscussione?.importoRichiesto | number: '1.2-2' : 'it'}}</b></td>
                            <td>Importo approvato: <b>{{infoEscussione?.importoApprovato === null ? "-" :
                                infoEscussione?.importoApprovato | number: '1.2-2' : 'it'}}</b></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>Causale bonifico: <b>{{infoEscussione?.causaleBonifico === null ? "-" :
                                infoEscussione?.causaleBonifico}}</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>IBAN banca beneficiaria: <b>{{infoEscussione?.ibanBancaBenef === null ? "-" :
                                infoEscussione?.ibanBancaBenef}}</b></td>
                            <td>Denominazione banca: <b *ngIf="infoEscussione?.ibanBancaBenef != null">{{infoEscussione?.denominazioneBanca === null ? "-" :
                                infoEscussione?.denominazioneBanca}}</b> <b *ngIf="infoEscussione?.ibanBancaBenef === null">-</b></td>
                            <td></td>
                        </tr>
                        <br>
                        <tr>
                            <td>Note: <b style="white-space: pre-line">{{infoEscussione?.note === null ? "-" : infoEscussione?.note}}</b></td>
                        </tr>
                    </table>
                </span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="mat-elevation-z2">
            <mat-card-title>
                <div class="button_title">
                    <span><h3>Allegati</h3></span>
                    <span class="actions"><button mat-button class="button-style-1" (click)="uploadFileEscussione.click()">AGGIUNGI ALLEGATO</button></span>
                </div>
            </mat-card-title>
            <div [hidden]="!error">
                <div  class="content width-100-perc margin-0 max-width-89-perc">
                  <mat-card  class="mat-card mat-focus-indicator messageError"
                    >
                    <mat-card-content  class="mat-card-content messageWarningContent"
                      >
                      <p  id="ellipsisP" class="white-space-nowrap text-overflow-ellipsis overflow-hidden">
                        {{messageError}}
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            <div class="content"*ngIf="erroreAllegato === true">
                <mat-card-content class="messageError">
                <p >ERRORE</p>
                <span>{{messageAllegato}}</span>
                </mat-card-content>
            </div>
            
            <div class="content" *ngIf="erroreAllegato === false">
                <mat-card-content class="messageSuccess">
                <p >SUCCESSO</p>
                <span>{{messageAllegato}}</span>
                </mat-card-content>
            </div>
            <mat-card-content>
                <div class="row">
                    <div class="col" style="display: flex;
                    justify-content: space-between;
                    width: 30%;">
                        <!--<button mat-button class="button-style-1" (click)="uploadFileEscussione.click()">AGGIUNGI ALLEGATO</button>-->
                        <input type="file" [hidden]="true" #uploadFileEscussione id="uploadFileEscussione" name="uploadFileEscussione"
                          (change)="handleFileEscussione($event.target.files)" />

                          <button mat-button class="button-style-2" *ngIf="allegati.length > 0" (click)="salvaFileEscussione(idProgetto)">CONFERMA</button>
                    </div>
                      
                </div>
                <div>
                    <ul>
                        <li *ngFor="let file of allegati; let i = index">
                            <div class="alignItemsCenter">
                                <span> <b>{{file.name}} - {{file.size}} bytes </b> </span>
                                <button mat-icon-button class="red-color" matTooltip="Elimina" (click)="eliminaFileEscussioneLocale(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <span>ALLEGATI AGGIUNTI</span>
                    <ul *ngIf="infoEscussione?.idEscussione == null || !(infoEscussione?.idTipoEscussione == 3 && infoEscussione?.idStatoEscussione == 5 && infoEscussione?.esitoInviato == true)">
                        <li *ngFor="let files of gliAllegati; let x = index">
                            <div class="alignItemsCenter">
                                <span class="bold-text">{{files.nomeFile}}</span>
                                <button mat-icon-button matTooltip="Scarica" (click)="downloadAllegato(files)">
                                    <mat-icon>download</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Elimina" (click)="eliminaFileEscussione(files.idDocIndex)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="content">
        <span class="rightbutton">
            <button *ngIf="infoEscussione?.idStatoEscussione == 3" mat-raised-button class="button-style-2" (click)="richiediIntegrazione()">RICHIESTA DI INTEGRAZIONE</button>
            <button *ngIf="infoEscussione?.esitoInviato == false && (infoEscussione?.idStatoEscussione == 5 || infoEscussione?.idStatoEscussione == 6) " mat-raised-button class="button-style-2" (click)="inviaEsito(infoEscussione?.idStatoEscussione, infoEscussione?.idTipoEscussione)">INVIO ESITO</button>
        </span>
    </div>

    <br>

</div>