.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.overflow-hidden {
    overflow: hidden;
}

.white-space-nowrap {
    white-space: nowrap;
}

.max-width-0 {
    max-width: 0px;
}

.width-35-perc {
    width: 35%;
}

.width-5-perc {
    width: 5%;
}