.displayNone {
	display: none !important;
}

.w-74 {
	width: 74% !important;
}

.w-75 {
	width: 75% !important;
}

.w-96 {
	width: 96% !important;
}

::ng-deep .w-96>div.mat-form-field-wrapper {
	width: 100% !important;
}

.w-100 {
	width: 100%;
}

.w-35 {
	width: 35%;
}

.mt-12 {
	margin-top: 12px;
}

.mr-10 {
	margin-right: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-20 {
	margin-top: 20px;
}

.dati-generali {
	p {
		font-weight: bold;
	}
}

.display-flex {
	display: flex;
}

::ng-deep .mat-checkbox-white-space-inherit .mat-checkbox-layout {
	white-space: inherit;
}

.align-items-center {
	align-items: center;
}

.mat-datepicker-toggle {
	color: #0060c1;
}

mat-label,
::ng-deep .mat-tab-label .mat-tab-label-content {
	font-size: 16px;
}

mat-tab-group {
	background-color: #ffffff;
	font-size: 16px;
}

.widthData188,
.widthData188 .mat-form-field-wrapper {
	width: 188px !important;
}

@media (max-width: 767.98) {

	.widthData188,
	.widthData188 .mat-form-field-wrapper {
		width: inherit !important;
	}
}

.widthData42,
::ng-deep .widthData42 .mat-form-field-wrapper {
	width: 42px !important;
}

.widthData82,
::ng-deep .widthData82 .mat-form-field-wrapper {
	width: 82px !important;
}

.widthData120,
::ng-deep .widthData120 .mat-form-field-wrapper {
	width: 120px !important;
}

@media (max-width: 767.98) {

	.widthData120,
	::ng-deep .widthData120 .mat-form-field-wrapper {
		width: inherit !important;
	}
}

.widthData246,
::ng-deep .widthData246 .mat-form-field-wrapper {
	width: 246px !important;
}

@media (max-width: 767.98) {

	.widthData246,
	::ng-deep .widthData246 .mat-form-field-wrapper {
		width: inherit !important;
	}
}