.page {
    .title {
        .backContainer {
            padding-bottom: 5px;

            button {
                padding: 0px;
            }
            .blue-icon {
                color: #0060c1;
            }

            .backText {
                color: #0060c1;
                font-size: 16px;
                padding-left: 10px;
            }
        }
    }

    .content {
        mat-card-content {
            padding-left: 10px;
        }

        .header {
            display: flex;
            align-items: center;

            h2 {
                margin-bottom: 0px;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: bold;
            }

            .arrow {
                color: grey;
            }
        }

        .row {
            width: 100%;
            display: flex;

            .col {
                flex-grow: 1;
                padding-right: 10px;
            }
        }
    }
}

.tableIF {
    width: 100%;
    display: block;
    overflow-x: auto;
}

th,
td {
    padding-right: 10px !important;
}

::ng-deep .mat-sort-header-content {
    text-align: left !important;
}

::ng-deep .imp .mat-form-field-infix {
    width: 15% !important;
}

::ng-deep .nota .mat-form-field-infix {
    width: 20% !important;
}

.blueIcon {
    color: #0060c1;
}

.displayNone {
    display: none !important;
}

.display-flex {
    display: flex;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.marginRight10 {
    margin-right: 10px;
}

.bold-text {
    font-weight: bold;
}

.marginTop10 {
    margin-top: 10px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.red-color {
    color: #b8191a;
}

.font-size-15 {
    font-size: 15px !important;
}

.font-size-10-5 {
    font-size: 10.5px;
}

.padding-left-3 {
    padding-left: 3px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #0060c1 !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #0058b1 !important; /*click effect color change*/
}

::ng-deep .mat-sort-header-arrow {
    color: #0060c1;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.3 !important;
    transform: translateY(0px) !important;
}

::ng-deep .mat-paginator .mat-paginator-range-actions .mat-icon-button:enabled {
    color: #0058b1 !important;
}
