.display-flex {
    display: flex;
}

.margin-left-10 {
    margin-left: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.mat-elevation-z2{
    width: auto;
}

.tabella{
    scrollbar-width: auto
}
