p {
    font-size: 16px;
    font-weight: bold;;
}

.button-style-1 {
    color: #0060C1;
    font-size: 16px;
    font-weight: bold;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.colorRed {
    color: red;
}
