.allegati {
    display: flex;
    background-color: #178cd633;
    color: #016cb4;
    align-items: center;

    button {
        font-size: 12px;
        font-weight: bold;
    }
}

.linkAllegati {
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.size13 {
    font-size: 13px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}