<div>
    <div class="dialog-header">
      <h3 class="bold-text">{{data.title}}</h3>
    </div>
    <mat-divider></mat-divider>
    <div style="padding-top: 0.5rem" class="alert-success">
      <div class="alert alert-success" role="alert">
        <p class="marty">{{data.message}}</p>
      </div>
    </div>
    <div style="display: flex;
    justify-content: space-between;">
      <div class="">
        <button class="button-style-1" mat-button (click)="close()">
          CHIUDI
        </button>
      </div>
      <div class="">
        <button *ngIf="data.conferma!=false" class="button-style-1" mat-button (click)="onConfirm()">
          CONFERMA
        </button>
      </div>
    </div>
  </div>