.elem1 {
  width: 100%;
  justify-content: flex-start !important;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.align {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dim {
  font-size: 10px;
}
.elem {
  position: absolute;
  right: 0px;
}

::ng-deep .mat-dialog-container {
  height: auto !important;
  overflow: hidden;
  overflow-y: auto !important;
}
.icons {
  color: #272727;
  display: inline-block !important;

  .mat-icon {
      color: #272727;
  }
}