<div class="page">
    <mat-spinner-pbandi [hidden]="!spinner"></mat-spinner-pbandi>
    <div class="title">
        <app-torna-indietro [backText]="setBackText"></app-torna-indietro>
        <!-- <div class="reportingContainerUp">
            <div class="titleBar">
                <h2>Dati beneficiario domanda</h2>
                <p><b>Tipo Soggetto:</b> {{tipoSoggetto}}</p>
                <p><b>NDG:</b> {{ndg}}</p>
            </div>
        </div> -->
        <div class="reportingContainerUp">
            <div class="titleBar">
                <h2>Dati beneficiario domanda</h2>
            </div>
        </div>
        <div class="content">
            <mat-card class="mat-elevation-z2" class="w-btn" style="align-content: flex-end; align-items: flex-end;">
                <mat-card-content class="padding-left-10">
                    <span>
                        <table class="content-table">
                            <tr>
                                <td>Denominazione: <b>{{denominazione}}</b></td>
                            </tr>
                            <tr>
                                <td>NDG: <b>{{ndg}}</b></td>
                            </tr>
                            <tr>
                                <td>Codice Fiscale: <b>{{codiceFiscale}}</b></td>
                            </tr>
                            <tr>
                                <td>Tipo Soggetto: <b>{{tipoSoggetto}}</b></td>
                            </tr>
                        </table>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z2">
            <mat-card-content>
                <mat-divider class="divider" [inset]="true"></mat-divider>
                <mat-tab-group mat-align-tabs="start">

                    <mat-tab label="DATI BENEFICIARIO DOMANDA">
                        <div class="content" style="margin-top: 2em;">
                            <div>
                                <div class="titleBar">
                                    <h3>Dati riepilogo domanda </h3>
                                </div>
                                <div>
                                    <form [formGroup]="myForm">
                                        <div class="row">
                                            <mat-form-field class="col">
                                                <mat-label>Numero Domanda</mat-label>
                                                <input type="text" matInput formControlName="numeroDomanda" disabled />
                                            </mat-form-field>
                                            <mat-form-field class="col">
                                                <mat-label>Stato Domanda</mat-label>
                                                <input matInput type="text" formControlName="statoDomanda"
                                                    [disabled]="true" />
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <mat-form-field>
                                                <mat-label>Data presentazione domanda</mat-label>
                                                <input matInput [matDatepicker]="picker2"
                                                    formControlName="dataPresentazioneDomanda" [disabled]="true" />
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <mat-divider class="divider" [inset]="true"></mat-divider>

                                        <h3>Documento Identità</h3>

                                        <div class="row">
                                            <mat-form-field class="col">
                                                <mat-label>Tipo documento identità</mat-label>
                                                <mat-select formControlName="documentoIdentita" [disabled]="true">
                                                    <mat-option *ngFor="let elem of tipoDocumentoData" [value]="elem">
                                                        {{ elem.descAttivita }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field class="col">
                                                <mat-label>Ente rilascio</mat-label>
                                                <input type="text" matInput formControlName="enteRilascio"
                                                    [disabled]="true" />
                                            </mat-form-field>
                                        </div>

                                        <div class="row">
                                            <mat-form-field class="col">
                                                <mat-label>Numero documento</mat-label>
                                                <input type="text" matInput formControlName="numeroDocumento"
                                                    [disabled]="true" />
                                            </mat-form-field>

                                            <mat-form-field class="col">

                                                <!-- <input #datePicker matInput [matDatepicker]="myDatepicker"
                                                formControlName="scadenzaDocumento" placeholder="Data scadenza documento">
                                            <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #myDatepicker></mat-datepicker>
                                            <mat-error
                                                *ngIf="myForm.get('scadenzaDocumento')?.hasError('maggioreToday')">
                                                La data non deve essere futura
                                            </mat-error>  -->
                                                <mat-label>Data scadenza documento</mat-label>
                                                <input matInput [matDatepicker]="picker3"
                                                    formControlName="scadenzaDocumento" [disabled]="true" />
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="picker3"></mat-datepicker-toggle>
                                                <mat-datepicker #picker3></mat-datepicker>

                                            </mat-form-field>
                                        </div>

                                        <div class="row">
                                            <mat-form-field>
                                                <mat-label>Data rilascio documento</mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="dataRilascio"
                                                    [disabled]="true" />
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <mat-divider class="divider" [inset]="true"></mat-divider>

                                        <h3>Recapiti</h3>

                                        <div class="row">
                                            <mat-form-field class="col">
                                                <mat-label>Telefono</mat-label>
                                                <input type="text" matInput formControlName="telefono"
                                                    [disabled]="true" />
                                            </mat-form-field>
                                            <mat-form-field class="col">
                                                <mat-label>FAX</mat-label>
                                                <input type="text" matInput formControlName="fax" [disabled]="true" />
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <mat-form-field class="col">
                                                <mat-label>Email</mat-label>
                                                <input type="text" matInput formControlName="email" [disabled]="true" />
                                            </mat-form-field>
                                            <mat-form-field class="col">
                                                <mat-label>PEC</mat-label>
                                                <input type="text" matInput formControlName="pec" [disabled]="true" />
                                            </mat-form-field>
                                        </div>

                                        <mat-divider class="divider" [inset]="true"></mat-divider>

                                        <h3>Conto Corrente</h3>

                                        <div class="row">
                                            <mat-form-field class="col">
                                                <mat-label>Banca</mat-label>
                                                <input type="text" matInput formControlName="banca" [disabled]="true" />
                                            </mat-form-field>
                                            <mat-form-field class="col">
                                                <mat-label>IBAN</mat-label>
                                                <input type="text" matInput formControlName="iban" [disabled]="true" />
                                            </mat-form-field>
                                        </div>

                                        <mat-divider class="divider" [inset]="true"></mat-divider>


                                    </form>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end" *ngIf="isPresentata">

                                <div class="flexEnd" *ngIf="!editForm">
                                    <button class="button-style-2" mat-stroked-button (click)="editMyForm()">
                                        MODIFICA
                                    </button>
                                </div>

                                <div *ngIf="editForm" id="button-footer-container" class="d-flex justify-content-end">
                                    <button mat-raised-button class="button-style-1" (click)="annullaModifica()">
                                        ANNULLA
                                    </button>
                                    <button type="submit" mat-raised-button class="button-style-2"
                                        (click)="setDatiDomanda()">
                                        SALVA
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="SOGGETTI CORRELATI">
                        <div class="content" style="margin-top: 2em;">
                            <h3> Soggetti Correlati</h3>
                            <div *ngIf="!isSoggettiCorr">
                                <mat-divider [inset]="true"></mat-divider>
                                Il soggetto beneficiario non ha soggetti correlati
                                <mat-divider [inset]="true"></mat-divider>
                            </div>

                            <div *ngIf="isSoggettiCorr">

                                <table mat-table [dataSource]="sortedData" multiTemplateDataRows class="fullWidth"
                                    id="excel" matSort (matSortChange)="sortData($event)">
                                    <!-- 'tipologia','nag', 'denom', 'codiceFisc', 'ruolo', 'action' -->

                                    <!-- Tipologia Column -->
                                    <ng-container matColumnDef="tipologia">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipologia </th>
                                        <td mat-cell *matCellDef="let element">{{element.tipologia}}</td>
                                    </ng-container>

                                    <!-- nag  Column -->
                                    <ng-container matColumnDef="nag">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAG </th>
                                        <td mat-cell *matCellDef="let element"> {{element.nag}} </td>
                                    </ng-container>

                                    <!-- denom Column -->
                                    <ng-container matColumnDef="denom">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Denominazione/Cognome e
                                            Nome
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{
                                            element.cognome + ' ' + ((element.nome!=null) ? element.nome : '')}} </td>
                                    </ng-container>

                                    <!-- codiceFisc Column -->
                                    <ng-container matColumnDef="codiceFisc">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Codice Fiscale </th>
                                        <td mat-cell *matCellDef="let element"> {{ element.codiceFiscale}} </td>
                                    </ng-container>

                                    <!-- ruolo Column -->
                                    <ng-container matColumnDef="ruolo">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ruolo</th>
                                        <td mat-cell *matCellDef="let element"> {{element.ruolo}} </td>
                                    </ng-container>

                                    <!--Action  Column -->
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                                            <button mat-icon-button (click)="visualizzaSoggettoCorr(element)"
                                                matTooltip="Visualizza dettaglio">
                                                <mat-icon> info</mat-icon>
                                            </button>

                                            <!-- <button mat-icon-button (click)="modificaSoggCorr(element)">
                                  <mat-icon>edit</mat-icon>
                                </button> </td> -->
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSogg"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSogg;"></tr>
                                </table>

                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="BLOCCHI">
                        <div class="content" style="margin-top: 2em;">
                            <h3> Elenco blocchi attivi</h3>
                            <app-blocchi-soggetto-domanda></app-blocchi-soggetto-domanda>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>