.bold-text {
   font-weight: bold;;
}

.blueText {
    color: #0060C1;
}

.noUnderline {
    text-decoration: none !important;
}

.fontSize13 {
    font-size: 13px;
}

.fontSize14 {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.textAlignRight {
    text-align: right;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.button-style-2 {
    background-color: #0060C1;
    color: #FFFFFF;
    border: 2px solid transparent;
    font-weight: bold;
    margin-left: 20px;
}

.button-style-2:hover:enabled {
    background-color: #FFFFFF;
    border: 2px solid #0060C1;
    color: #0060C1;
}