tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
}

.my-elevation {
    border: 1px solid #00000073;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 2px 1px -1px rgb(0 0 0 / 20%) !important;
    width: 97%;
}

.title-documento {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #eaeaea;
    display: block;
    padding: 4px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.margin-5 {
    margin: 5px;
}

.width-96 {
    width: 96%;
}

.margin-top-10 {
    margin-top: 10px;
}

.font-size-3-em {
    font-size: 3em;
}