<mat-card class="pad">
  <mat-card-header>
    <mat-card-title>
      <h3 class="cardtitle">Piano di rientro</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="isShowing == 'main'" class="scroll"> <!-- MAIN -->

    <mat-card class="messageSuccess" *ngIf="isSuccVisible">
      <mat-card-content class="messageSuccessContent">
          <p>{{succMsg}}</p>
      </mat-card-content>
    </mat-card>

    <table mat-table [dataSource]="pianoRientro" class="table1" multiTemplateDataRows>

      <!-- Esito Column -->
      <ng-container matColumnDef="esito">
        <th mat-header-cell *matHeaderCellDef> Esito </th>
        <td mat-cell *matCellDef="let element"> {{element.esito === null ? "-" : element.esito}} </td>
      </ng-container>

      <!-- Data esito Column -->
      <ng-container matColumnDef="dataEsito">
        <th mat-header-cell *matHeaderCellDef> Data esito </th>
        <td mat-cell *matCellDef="let element"> {{element.dataEsito === null ? "-" : element.dataEsito |
          date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Utente modifica Column -->
      <ng-container matColumnDef="utenteModifica">
        <th mat-header-cell *matHeaderCellDef> Utente modifica </th>
        <td mat-cell *matCellDef="let element"> {{element.utenteModifica === null ? "-" : element.utenteModifica}} </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" layout="row" class="options">
          <button mat-icon-button (click)="openDialog('edit', element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element">
            <mat-icon>visibility</mat-icon>
          </button>
          <!--
          <button mat-icon-button *ngIf="expandedElement" (click)="expandedElement = expandedElement === element ? null : element">
            <mat-icon class="material-icons-outlined">visibility_off</mat-icon>
          </button>
          -->
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="mainDisplayedColumns.length" class="detalBoxRow">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <table style="width: 100%;">
              <tr>
                <td style="width: 58%;"><b>Data proposta </b></td>
                <td>{{element.dataProposta === null ? "-" : element.dataProposta | date:'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <td><b>Importo piano di rientro quota capitale </b></td>
                <td>{{element.importoCapitale === null ? "-" : element.importoCapitale | number: '1.2-2' : 'it'}}</td>
              </tr>
              <tr>
                <td><b>Importo piano di rientro agevolazione </b></td>
                <td>{{element.importoAgevolazione === null ? "-" : element.importoAgevolazione | number: '1.2-2' : 'it'}}</td>
              </tr>
              <tr>
                <td><b>Recupero </b></td>
                <td>{{element.recupero === null ? "-" : element.recupero}}</td>
              </tr>
              <tr>
                <td><b>Note </b></td>
                <td>{{element.note === null ? "-" : element.note}}</td>
              </tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="mainDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: mainDisplayedColumns;" class="example-element-row"
        [hidden]="element.dt_FINE_VALIDITA != null" [class.example-expanded-row]="expandedElement === element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
        [hidden]="row.dt_FINE_VALIDITA != null"></tr>
    </table>

  </mat-card-content>

  <mat-card-content *ngIf="isShowing == 'history'" class="scroll">
    <!-- STORICO -->


    <p class="int">
      <b>Storico piano di rientro</b>
      <button mat-icon-button (click)="isShowing = 'main'">
        <mat-icon class="material-icons-outlined">cancel</mat-icon>
      </button>
    </p>


    <mat-divider [inset]="true"></mat-divider>

    <table mat-table [dataSource]="pianoRientro" class="table2">

      <!-- Esito Column -->
      <ng-container matColumnDef="nominativo">
        <th mat-header-cell *matHeaderCellDef> Esito </th>
        <td mat-cell *matCellDef="let element"> {{element.esito}} </td>
      </ng-container>

      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.dataInserimento | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Istruttore Column -->
      <ng-container matColumnDef="istruttore">
        <th mat-header-cell *matHeaderCellDef> Istruttore </th>
        <td mat-cell *matCellDef="let element"> {{element.utenteModifica}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="historyDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: historyDisplayedColumns;"></tr>
    </table>

  </mat-card-content>

  <mat-card-content *ngIf="isShowing == 'loading'" class="scroll">
    <!--LOADING-->
    <div style="height: 100%;">
      <mat-spinner class="loading"></mat-spinner>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isShowing == 'nodata'" class="scroll">
    <!--NO DATA-->
    <div>
      <mat-label>Nessun piano di rientro presente</mat-label>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isShowing == 'error'" class="scroll">
    <!--ERROR-->
    <div>
      <mat-error>error: {{errMsg}}</mat-error>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">

    <button mat-button class="button-style-1" [disabled]="isShowing != 'main'" (click)="openHistory()">STORICO</button>
    <!--<div fxFlex></div>-->
    <button mat-raised-button class="button-style-2" [disabled]="isShowing == 'error' || isShowing == 'loading'" (click)="openDialog('new')">NUOVO PIANO DI RIENTRO</button>
  </mat-card-actions>

</mat-card>