.marginLeft20 {
    margin-left: 20px;
}

.notifica {
    border: 1px solid red;
    border-radius: 33px;
    height: 1.2999999999999998em;
    width: 1.3em;
    text-align: center;
    color: white;
    background: red;
    position: relative;
    left: -16px;
    top: -6px;
    font-size: 13px;
}