<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone': isLoading()}" id="scrollId">
   <div class="title">
      <div class="backContainer">
         <button mat-button (click)="goToGestioneChecklist()">
            <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
            <span class="backText">Torna alla gestione checklist</span>
         </button>
      </div>
      <h2>Checklist</h2>
   </div>
   <div class="content">
      <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
         <mat-card-content class="messageErrorContent">
            <p [innerHTML]="messageError"></p>
         </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z2">
         <mat-card-content>
            <div class="cod-progetto">
               <p>Beneficiario: <span class="bold-text">{{user?.beneficiarioSelezionato?.denominazione}}</span></p>
            </div>
            <div class="cod-progetto">
               <p>Codice progetto: <span class="bold-text">{{codiceProgetto}}</span></p>
               <button class="button-style-1 paddingLeft20" mat-button (click)="datiProgettoEAttivitaPregresse()">DATI
                  PROGETTO ATTIVIT&Agrave; PREGRESSE</button>
            </div>
         </mat-card-content>
      </mat-card>
   </div>
   <div class="content">


      <!-- PK questo viene creato da MDD e serve -->
      <!--
         <input name="widg_hStatoChecklist" value="peppaPig" id="widg_hStatoChecklist" type="hidden">
         <input name="widg_hTipoChecklist" value="CLIL" id="widg_hTipoChecklist" type="hidden"> NON serve, ce l'ho in Angular
      -->
      <!-- PK fine -->


      <!-- PK : quello che segue e' l'html preso dal DB -->
      <!--   select * from PBANDI_C_CHECKLIST_MODEL_HTML where id_modello = 33; -->
      <div [innerHTML]="htmlModelloCheckList | safeHTML"></div>

      <!-- PK : fine l'html preso dal DB -->

   </div>
   <div class="content">
      <div class="spaceBetween">
         <div class="backContainer">
            <button mat-button (click)="goToGestioneChecklist()">
               <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
               <span class="backText">Torna alla gestione checklist</span>
            </button>
         </div>
         <div class="reportingContainerDown">
           <!--  <button mat-raised-button *ngIf="viewButtonSalvaChecklistDefinitivo"
               (click)="funzSalvaChecklistDefinitivo()" class="button-style-2 marginLeft10">SALVA DEFINITIVO
            </button> -->
            <button mat-raised-button *ngIf="viewButtonSalvaChecklistInBozza" (click)="funzBtSalvaChecklistInBozza()"
               class="button-style-2 marginLeft10">SALVA BOZZA
            </button>
            &nbsp;&nbsp;
            <button mat-raised-button *ngIf="viewButtonSalvaChecklistDefinitivo"
            (click)="funzSalvaChecklistDefinitivo()" class="button-style-2 marginLeft10">SALVA DEFINITIVO
            </button>
            
            
         </div>
      </div>
   </div>
</div>