
.container {
  border: 1px solid black;
}
.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.text-inside-grid {
  position: absolute;
  left: 5px;
}

.mat-card-header {
  //background-color: rgb(133 206 242) !important;
  background-color: #50b5fb !important;
  padding: 0px !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.mat-card-content {
  //padding:5px !important;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

.cardtitle {
  margin: 0 0 0px !important;
}

.mat-card-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.mat-card-actions {
  padding-bottom: 10px !important;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.scroll {
  overflow: auto;
  height: 332px;
  border: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d7d7d7;
}
.detailBoxRow {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: #e0e0e0;
}
.elem1 {
  width: 100%;
  justify-content: flex-start !important;
}
.width-50-perc {
  width: 50%;
}
.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden;
}

.white-space-nowrap {
  white-space: nowrap;
}

.loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pad {
  padding: 0 !important;
}


.note-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
  //display: block;
}

.delete-button:disabled {
  .delete-icon {
    color: rgba(0, 0, 0, .26);
  }
}

/*.mat-column-txtNota {
  flex: 3;
}

.mat-column-dataInserimento {
  flex: 1;
}

.mat-column-dataModifica {
  flex: 1;
}

.mat-column-utenteModifica {
  flex: 1;
}

.mat-column-actions {
  flex: 1;
}*/