p {
    font-size: 16px;
}

.displayNone {
    display: none;
}

.boldText {
    font-weight: bold;
}

.blue-color {
    color: #0060C1;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.button-style-1 {
    color: #0060C1;
    font-size: 16px;
    font-weight: bold;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
