<mat-spinner-pbandi *ngIf="isLoading(); else elsePage"></mat-spinner-pbandi>
<ng-template #elsePage>
    <div class="spaceBetween">
        <h3 class="bold-text">Associa documento al progetto corrente</h3>
        <button type="button" mat-icon-button class="blue-color" (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
        <mat-card-content class="messageErrorContent">
            <p [innerHTML]="messageError"></p>
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z4 marginBottom10" *ngIf="form?.isDocumentoTotalmenteRendicontato">
        <mat-card-content>
            <p><span class="boldText">Attenzione:</span> il documento selezionato risulta completamente rendicontato su
                altri progetti. Per poterlo associare dovrebbe essere disponibile un residuo rendicontabile almeno pari
                al rendicontabile da associare al progetto corrente.</p>
        </mat-card-content>
    </mat-card>
    <form #voceForm="ngForm" (submit)="associa()">
        <mat-form-field style="width: 100%;">
            <input type="text" placeholder="Task" matInput [(ngModel)]="task" name="task" />
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <input type="text" placeholder="Rendicontabile" matInput [(ngModel)]="rendicontabileFormatted" required
                name="rendicontabile" pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" #rendic="ngModel"
                (blur)="setRendicontabile()" />
            <mat-error *ngIf="rendic?.errors?.required">
                Campo obbligatorio
            </mat-error>
            <mat-error *ngIf="rendic?.errors?.pattern">
                Valore non valido
            </mat-error>
        </mat-form-field>

        <div class="spaceBetween">
            <button type="button" mat-button class="button-style-1" (click)="close()">ANNULLA</button>
            <div *ngIf="!form?.isDocumentoTotalmenteRendicontato" matTooltip="Inserire l'importo rendicontabile"
                [matTooltipDisabled]="rendicontabile">
                <button type="submit" mat-button class="button-style-1"
                    [disabled]="!rendicontabile || rendicontabileError">ASSOCIA</button>
            </div>
        </div>
    </form>
</ng-template>