.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.width-70-px {
  width: 70px;
}

.display-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

th,
td {
  padding-right: 10px !important;
}

.light-blue-background-color {
  background-color: #178cd633;
}
