.end{
    display: flex;
    justify-content: flex-end;
}

.mat-divider {
    margin-bottom: 1em;
}

.visibility-hidden {
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.spanLink{
    font-size: 15px;
    color: #2785d7;
    text-decoration: underline;
    cursor: pointer;
}

.margin-left{
margin-left: 1em;
}

.margin-top{
margin-top: 1em;
}

.acapo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}