.p-4 {
    padding: 4px;
}

.min-height-40 {
    min-height: 40px;
}

.width-120px {
    width: 120px;
}

.light-blue-background-color {
    background-color: #178cd633;
}

.display-flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.float-right {
    float: right;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-0 {
    margin-top: 0 !important;
}
