/*::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
    //background: #daf0fc !important;
}*/

/*mat-dialog-container {
    //background: #daf0fc !important;
}*/



