<div class="spaceBetween">
    <h3 class="bold-text" *ngIf="!isAggiungiAllegati">Conferma Salva CheckList</h3>
    <h3 class="bold-text" *ngIf="isAggiungiAllegati">Aggiungi allegati</h3>
    <button type="button" mat-icon-button class="blue-color" (click)="close()">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<mat-card class="mat-elevation-z2 messageWarning" *ngIf="!isAggiungiAllegati">
    <mat-card-content class="messageWarningContent">
        <p>La checklist verrà salvata in modo definitivo. Continuare?</p>
    </mat-card-content>
</mat-card>
<div class="alignItemsCenter margin-left-65">
    <span class="bold-text">
        <span *ngIf="codTipoChecklist!=='CL'">File del verbale</span>
        <span *ngIf="codTipoChecklist==='CL'">File allegato</span>
        <span *ngIf="required"> *</span></span>
    <mat-form-field class="paddingLeft20 width-200-px">
        <input type="text" matInput
            placeholder="{{files.length}} {{files.length===1 ? 'file selezionato' : 'files selezionati'}}" disabled />
    </mat-form-field>
    <button mat-button class="button-style-1 paddingLeft20" (click)="uploadFile.click()">SFOGLIA</button>
    <input [hidden]="true" type="file" #uploadFile id="uploadFile" name="uploadFile"
        (change)="handleFileInput($event.target.files)" multiple />
</div>
<div class="margin-left-175" *ngIf="files?.length > 0">
    <ol class="margin-top-0">
        <li *ngFor="let file of files; let i = index">
            <div class="alignItemsCenter">
                <span> <span class="bold-text">{{file.name}}</span> - {{file.size}} bytes</span>
                <button mat-icon-button class="red-color" matTooltip="Elimina" (click)="eliminaFile(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </li>
    </ol>
</div>
<div class="spaceBetween">
    <button mat-button class="button-style-1" (click)="close()">ANNULLA</button>
    <div [matTooltip]="'Aggiungere almeno un ' + (codTipoChecklist==='CL' ? 'file allegato': 'file del verbale')"
        [matTooltipDisabled]="files?.length>0 || !required">
        <button mat-button class="button-style-1" (click)="conferma()"
            [disabled]="(!files || files.length===0) && required">CONFERMA</button>
    </div>
</div>