<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone': isLoading()}" id="scrollId">
    <div class="title">
        <h2>Campionamento</h2>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isMessageSuccessVisible">
            <mat-card-content class="messageSuccessContent">
                <p>{{messageSuccess}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
            <mat-card-content class="messageErrorContent">
                <p>{{messageError}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z2">
            <mat-card-content>
                <mat-tab-group animationDuration="0ms" (selectedTabChange)="clickTab()" #tab dynamicHeight>
                    <mat-tab label="Esecuzione del campionamento">
                        <div class="paddingTop10 flex">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Selezionare una normativa</mat-label>
                                <mat-select [(ngModel)]="normativaSelected" name="normativa"
                                    (selectionChange)="onSelectNormativa()">
                                    <mat-option *ngFor="let option of normative" [value]="option">
                                        {{option.descrizione}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                <button mat-raised-button class="button-style-2" (click)="estrai()"
                                    [disabled]="!normativaSelected">ESTRAI
                                </button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Ricerca dei file campionamento">
                        <div class="paddingTop10 flex">
                            <mat-form-field style="width: 45%;">
                                <mat-label>Selezionare una normativa</mat-label>
                                <mat-select [(ngModel)]="normativaSelected" name="normativa"
                                    (selectionChange)="onSelectNormativa()">
                                    <mat-option *ngFor="let option of normative" [value]="option">
                                        {{option.descrizione}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 45%;">
                                <mat-label>Selezionare un anno contabile</mat-label>
                                <mat-select [(ngModel)]="annoContabileSelected" name="annoContabile"
                                    (selectionChange)="onSelectAnnoContabile()">
                                    <mat-option *ngFor="let option of anniContabili" [value]="option">
                                        {{option.descrizione}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div>
                                <button mat-raised-button class="button-style-2" (click)="cerca()">CERCA
                                </button>
                            </div>
                        </div>
                        <div *ngIf="noElementsMessageVisible">{{noElementsMessage}}</div>
                        <table mat-table *ngIf="dataSource &&  elencoReport.length>0 && !noElementsMessageVisible"
                            [dataSource]="dataSource" style="width: 100%;">

                            <ng-container matColumnDef="documento">
                                <th mat-header-cell *matHeaderCellDef style="width: 35%;"> Documento
                                </th>
                                <td mat-cell *matCellDef="let row" style="width: 35%;">
                                    {{row.nomeFile}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="normativa">
                                <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Normativa
                                </th>
                                <td mat-cell *matCellDef="let row" style="width: 30%;"> {{row.descNormativa}} </td>
                            </ng-container>

                            <ng-container matColumnDef="annocontabile">
                                <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Anno
                                    contabile
                                </th>
                                <td mat-cell *matCellDef="let row" style="width: 15%;">
                                    {{row.descAnnoContabile}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="data">
                                <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Data
                                    campionamento
                                </th>
                                <td mat-cell *matCellDef="let row" style="width: 15%;">
                                    {{row.dataCampionamento | date: "dd/MM/yyyy"}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="azioni">
                                <th mat-header-cell *matHeaderCellDef>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button class="blueIcon" matTooltip="Scarica allegato"
                                        style="width: 30px;"
                                        (click)="downloadAllegato(row.idDocumentoIndex,row.nomeFile)">
                                        <mat-icon>download</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <!-- NON NECESSARIO: scarica excel riepilogativo della tabella
                        <div class="paddingTop10 textAlignRight"
                            *ngIf="dataSource &&  elencoReport.length>0 && !noElementsMessageVisible">
                            <button mat-raised-button class="button-style-2"
                                (click)="scaricaExcel(elencoReport)">Scarica in excel
                            </button>
                        </div>
                        -->
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>