<!-- <mat-spinner class="page" *ngIf="isLoading()"></mat-spinner>
<div class="page" [ngClass]="{'displayNone': isLoading()}"> -->
<div>
    <mat-card class="padding0">
        <mat-card-header>
            <mat-card-title>
                <h3 class="cardtitle">Transazioni</h3>
            </mat-card-title>
        </mat-card-header>




        <mat-card-content class="scroll">
            <!--SPINNER-->
            <div style="height: 100%;" *ngIf="isLoading()">
                <mat-spinner class="loading"></mat-spinner>
            </div>

            <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isSaveSuccess">
                <mat-card-content class="messageSuccessContent">
                    <p>{{messageSuccess}}</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-elevation-z2 messageError" *ngIf="issaveError">
                <mat-card-content class="messageErrorContent">
                    <p>{{messageError}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z2 messageError" *ngIf="isIdBancaObbligatorio">
                <mat-card-content class="messageErrorContent">
                    <p>{{messageBanca}}</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z2 messageError" *ngIf="isCampiControl">
                <mat-card-content class="messageErrorContent">
                    <p>Gli importi e la percentuale devono avere massimo due cifre dopo la virgola</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-elevation-z2 messageError" *ngIf="isModifica">
                <mat-card-content class="messageErrorContent">
                    <p> Modificare almeno un campo</p>
                </mat-card-content>
            </mat-card>


            <div *ngIf=isConferma>
                <form style="margin-left: 0%;">
                    <mat-grid-list cols="8" rowHeight="70px" [gutterSize]="'15px'">

                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <mat-form-field class="elem1" appearance="standard">
                                <mat-label>Imp. totale riconciliato</mat-label>
                                <input type="text" [(ngModel)]="impRiconciliatoFormatted" matInput
                                    name="impRiconciliato" pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" #numP="ngModel"
                                    (blur)="setImporto(1)" step="0.01">
                                <mat-error *ngIf="numP?.errors?.pattern">Valore non valido</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <mat-form-field class="elem1" appearance="standard">
                                <mat-label>Importo transato</mat-label>
                                <input type="text" [(ngModel)]="impTransatoFormatted" matInput name="impTransato"
                                    pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" #numP1="ngModel" (blur)="setImporto(2)"
                                    step="0.01">
                                <mat-error *ngIf="numP1?.errors?.pattern">Valore non valido</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <mat-form-field class="elem1" appearance="standard">
                                <mat-label>Perc. di transazione</mat-label>
                                <input type="number" [(ngModel)]="percTransazione" matInput name="percTransazione"
                                    pattern="^\d+(?:\.\d{1,2})?$" #numP2="ngModel" step="0.01">
                                <mat-error *ngIf="numP2?.errors?.pattern">Valore non valido</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>


                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <mat-form-field class="elem1" appearance="standard">
                                <mat-label>Importo pagato</mat-label>
                                <input type="text" [(ngModel)]="impPagatoFormatted" matInput name="impPagato"
                                    pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" #numP3="ngModel" (blur)="setImporto(3)"
                                    step="0.01">
                                <mat-error *ngIf="numP3?.errors?.pattern">Valore non valido</mat-error>
                            </mat-form-field>
                        </mat-grid-tile>



                        <mat-grid-tile [colspan]="8" [rowspan]="1">
                            <!-- <mat-form-field [formGroup]="bancaGroup" class="elem1">
                                <input type="text" wai-aria="Nominativo banca" placeholder="Nominativo banca"
                                    aria-label="Number" matInput formControlName="bancaControl" [matAutocomplete]="auto"
                                    (blur)="check()">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                    [displayWith]="displayFn" (optionSelected)="click($event)">
                                    <mat-option *ngFor="let banca of filteredOptions | async" [value]="banca">
                                        {{banca.descAttivita}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field> -->

                            <mat-form-field class="elem1">
                                <mat-label>Nominativo banca</mat-label>
                                <input matInput type="text" [matAutocomplete]="auto1" [(ngModel)]="nomeBanca"
                                    (input)="suggest(nomeBanca)" name="bancaDTO">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <mat-option *ngFor="let attivita of listaBanche2" [value]="attivita.descAttivita">
                                        {{attivita.descAttivita}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="">Raggiunto il
                                    limite massimo di caratteri</mat-error>
                            </mat-form-field>

                        </mat-grid-tile>

                        <mat-grid-tile [colspan]="8" [rowspan]="1">
                            <mat-form-field class="elem1" appearance="standard">
                                <mat-label>Note</mat-label>
                                <input type="text" matInput [(ngModel)]="note" name="note" />
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                     <!-- <app-gestione-allegati [nomeBox]="nomeBox" (newItemEvent)="recuperaFile($event)"></app-gestione-allegati> -->
                </form>

            </div>


            <!--  -->

            <div *ngIf=isTT>

                <mat-grid-list cols="8" rowHeight="40px">

                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="text-inside-grid">
                            Importo totale riconciliato: <b>{{impRiconciliato | number: '1.2-2' : 'it'}} </b>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="text-inside-grid">
                            Importo transato: <b>{{impTransato | number: '1.2-2' : 'it'}}</b>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="text-inside-grid">
                            Percentuale di transazione:<b> {{((percTransazione ==null)?'':percTransazione +'%')}}</b>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <div class="text-inside-grid">
                            Importo pagato: <b>{{ impPagato | number: '1.2-2' : 'it'}}
                            </b>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="8" [rowspan]="1">
                        <div class="text-inside-grid">
                            Nominativo banca:<b> {{nomeBanca}}</b>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>

                <table>
                    <td>
                        Note: <b>{{note}}</b>
                    </td>
                </table>

            </div>

        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button class="button-style-1" (click)="openStorico()"
                [disabled]="disableStorico == true">STORICO</button>
            <button mat-button class="button-style-1" (click)="onAnnulla()" *ngIf=isConferma>ANNULLA</button>
            <!-- <div fxFlex></div> -->
            <button mat-raised-button class="button-style-2" (click)="controllaCampi()"
                *ngIf=isConferma>CONFERMA</button>
            <button mat-raised-button class="button-style-2" (click)="onModifica()" *ngIf=isTT>MODIFICA</button>
        </mat-card-actions>
    </mat-card>
</div>