.paddingLeft20 {
  padding-left: 20px;
}

.endPageButton {
  display: flex;
  justify-content: flex-end;
  /* width: 80%;*/
  margin-left: 15px;
  margin-top: 15px;
}

textarea.disabled {
  cursor: not-allowed;
}

.width-data {
  width: 170px !important;
}

.width-49-perc {
  width: 49%;
}

.div-width-49-perc {
  width: 49%;
  float: left;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
}

.margin-right-10 {
  margin-right: 10px;
}
