<div>
    <div class="spaceBetween">
        <h3 class="bold-text">Elimina allegato</h3>
        <button type="button" mat-icon-button class="blue-color" (click)="closeDialog()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div mat-dialog-content *ngIf="!isLoading">
        <mat-card class="messageError" *ngIf="showError">
            <mat-card-content class="messageErrorContent">
                <p>{{errorMsg}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content"*ngIf="errore === true">
        <mat-card-content class="messageError">
        <p >ERRORE</p>
        <span>{{message}}</span>
        </mat-card-content>
    </div>
    
    <div class="content" *ngIf="errore === false">
        <mat-card-content class="messageSuccess">
        <p >SUCCESSO</p>
        <span>{{message}}</span>
        </mat-card-content>
    </div>
    <p>Sei sicuro/a di voler eliminare questo allegato?</p>
</div>
<div class="spaceBetween">
    <button mat-button class="button-style-1" (click)="closeDialog()">ANNULLA</button>
    <button mat-button class="button-style-2" [disabled]="isLoading" (click)="eliminaAllegato()">CONFERMA</button>
</div>