<!-- <mat-spinner class="page" *ngIf="isLoading()"></mat-spinner>
<div class="page" [ngClass]="{'displayNone': isLoading()}"> -->
<div>
    <mat-card class="padding0">
        <mat-card-header>
            <mat-card-title>
                <h3 class="cardtitle">Abbattimento garanzie</h3>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="scroll">

            <!--SPINNER-->
            <div style="height: 100%;" *ngIf="isLoading()">
                <mat-spinner class="loading"></mat-spinner>
            </div>

            
            <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isSaveSuccess">
                <mat-card-content class="messageSuccessContent">
                    <p>Salvato</p>
                </mat-card-content>
            </mat-card>

            <div *ngIf=isAttiva>

                <div *ngIf=!isStorico>
                    Nessun abbattimento garanzie presente
                </div>

                <div *ngIf=isStorico>


                    <table mat-table [dataSource]="storicoAbbattimentoGaranzia" multiTemplateDataRows
                        style="width: 100%;">

                        <!-- Descrizione abbattimento -->
                        <ng-container matColumnDef="tipoGaranzia">
                            <th mat-header-cell *matHeaderCellDef> <b> Tipo garanzia </b> </th>
                            <td mat-cell *matCellDef="let element"> {{ element.descAbbattimento}} </td>
                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="dataAbbattimento">
                            <th mat-header-cell *matHeaderCellDef> <b>Data abbattimento</b> </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.dataAbbattimento|date:"dd/MM/yyyy"}}</td>
                        </ng-container>

                        <!-- Istruttore Column -->
                        <ng-container matColumnDef="utente">
                            <th mat-header-cell *matHeaderCellDef> <b>Utente modifica</b> </th>
                            <td mat-cell *matCellDef="let element"> {{ (element?.cognome === null ? " " : element.cognome) +' '+
                                (element?.nome === null ? " " : element.nome)}} </td>
                        </ng-container>

                        <!-- Row Options Column -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" layout="row" style="white-space: nowrap;">
                                <div class="text-right">
                                    <button mat-icon-button (click)="modifica(element.idAbbattimentoGaranzie)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button mat-icon-button
                                        (click)="expandedElement = expandedElement != element ? element : null">
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">
                                            visibility
                                        </mat-icon>
                                    </button>

                                </div>
                            </td>
                        </ng-container>

                        <!-- per visualizzare i dettagli del abbattimento: expanded -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
                                class="detailBoxRow">
                                <div class="example-element-detail"
                                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                                    <table>
                                        <tr >
                                            <td ><b>Importo iniziale </b></td>
                                            <td >{{element.impIniziale | number: '1.2-2' : 'it'}}</td>
                                          </tr>
                                          <tr >
                                            <td><b>Importo liberato </b></td>
                                            <td>{{element.impLiberato | number: '1.2-2' : 'it'}}</td>
                                          </tr>
                                          <tr >
                                            <td><b>Nuovo importo  </b></td>
                                            <td>{{element.impNuovo | number: '1.2-2' : 'it'}}</td>
                                          </tr>
                                          <tr>
                                            <td><b>Note </b></td>
                                            <td>{{element.note}}</td>
                                          </tr>
                                    </table>

                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                            [class.example-expanded-row]="expandedElement === element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                    </table>
                </div>
            </div>

        </mat-card-content>




        <mat-card-actions align="end">
            <button mat-button class="button-style-1"  [disabled]="disableStorico == true"  (click)="openStorico()" >STORICO</button>
            <div fxFlex></div>
            <button mat-raised-button class="button-style-2" (click)="openDialog()" >NUOVO ABBATTIMENTO GARANZIE</button>
        </mat-card-actions>

    </mat-card>
</div>