.page {

  .title {


    .backContainer {
      padding-bottom: 5px;

      button {
        padding: 0px;
      }
      .blue-icon {
        color: #0060C1;
      }

      .backText{
        color: #0060C1;
        font-size: 16px;
        padding-left: 10px;
      }
    }

  }

  .content {

    mat-card-content {
      padding-left: 10px;
    }

    h2 {
      margin-bottom: 0px;
      font-weight: bold;
    }

    .benef {
      display: flex;
      align-items: center;

      p {
        margin: 0px;
        font-size: 16px;
      }

      span {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .allegati {
      background-color: #178CD633;
      color: #016CB4;
      align-items: center;
    }
  }
}

mat-radio-button {
  padding-left: 15px;
}

.blue-color {
  color: #0060C1;
}

.size13 {
  font-size: 13px;
}

.displayNone {
  display: none !important;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}
.marginTop10{
  margin-top: 10px;
}
.marginLeft10 {
  margin-left: 10px;
}

.paddingLeft20 {
  padding-left: 20px;
}

.endPageButton {
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
  margin-top: 15px;
}

.bold-text{
  font-weight: bold;
}

.button-style-1 {
  color: #0060C1;
  font-size: 16px;
  font-weight: bold;
}

.button-style-3 {
  color: #0060C1;
  font-size: 16px;
  border: 2px solid #0060C1;
  font-weight: bold;
}

.button-style-3:hover:enabled {
  background-color: #0060C1;
  color: white;
  border: 2px solid white;
}

.noElements{
  display: flex;
  justify-content: center;
  color: grey;
  font-weight: 400;
  font-size: 12px;
}

.textAlignRight {
  display: flex;
  justify-content: flex-end;
}

/* Chrome, Safari, Edge, Opera -  remove arrows from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox -  remove arrows from input type number */
input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:  #0058B1 !important; /*click effect color change*/
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:  #0058B1 !important;   /*inner circle color change*/
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0058B1 !important; /*outer ring color change*/
}



::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #0060C1 !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color:  #0058B1 !important; /*click effect color change*/
}
