.marginRight20 {
    margin-right: 20px;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.white-space-nowrap {
    white-space: nowrap;
}

.max-width-0 {
    max-width: 0;
}

td.mat-cell {
    border-bottom-style: none;
}
