<!-- <mat-spinner-pbandi [hidden]="!spinner"></mat-spinner-pbandi> -->

<div class="page">
  <div class="content">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <mat-divider class="divider" [inset]="true"></mat-divider>
        <mat-tab-group mat-align-tabs="start" #tabs>

          <mat-tab label="DATI GENERALI">
            <div class="content" style="margin-top: 2em;">
              <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
                <mat-card-content class="messageErrorContent">
                  <p [innerHTML]="messageError"></p>
                </mat-card-content>
              </mat-card>
              <mat-card class="mat-elevation-z2 messageError" *ngIf="errorModifica">
                <mat-card-content class="messageErrorContent">
                  <p [innerHTML]="messageError"></p>
                </mat-card-content>
              </mat-card>
              <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isSaved">
                <mat-card-content class="messageSuccessContent">
                  <p>Salvataggio avvenuto con successo!</p>
                </mat-card-content>
              </mat-card>

              <form [formGroup]="formSoggetto">

                <div id="container-form">
                  <section formGroupName="dati-anagrafici">
                    <h3>Dati anagrafici </h3>
                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <mat-form-field>
                          <mat-label>Ragione sociale *</mat-label>
                          <input type="text" matInput formControlName="ragioneSociale" />
                          <mat-error *ngIf="formSoggetto.get('dati-anagrafici.ragioneSociale')?.hasError('required')">
                            Campo obbligatorio
                          </mat-error>
                          <mat-error *ngIf="formSoggetto.get('dati-anagrafici.ragioneSociale')?.hasError('minlength')">
                            Lunghezza minima 2 caratteri
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-label>Forma giuridica</mat-label>
                          <mat-select formControlName="formaGiuridica">
                            <mat-option *ngFor="let elem of formaGiuridicaData" [value]="elem">
                              {{ elem.descFormaGiuridica }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row d-flex justify-content-baseline" style="margin: 0.5em 0em 2em 0em;">
                      <div class="col align-self-center">
                        <div class="d-flex justify-content-baseline">
                          <div class="cell cell-margin align-self-center">
                            <mat-radio-group aria-label="Select an option" class="d-flex"
                              formControlName="pubblicoPrivatoRadio">
                              <mat-radio-button [value]="2">Pubblico</mat-radio-button>
                              <mat-radio-button [value]="1">Privato</mat-radio-button>
                            </mat-radio-group>
                            <mat-error class="font-size-10-5"
                              *ngIf="formSoggetto.get('dati-anagrafici.pubblicoPrivatoRadio')?.hasError('required')">
                              Campo obbligatorio</mat-error>
                          </div>
                          <div class="cell">
                            <mat-form-field *ngIf="formSoggetto.get('dati-anagrafici.pubblicoPrivatoRadio')?.value===2">
                              <mat-label>Codice UNI IPA *</mat-label>
                              <input type="text" matInput formControlName="codiceUniIpa"
                                (keyup)="resetError('dati-anagrafici','codiceUniIpa')" />
                              <mat-error *ngIf="formSoggetto.get('dati-anagrafici.codiceUniIpa')?.hasError('required')">
                                Campo obbligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                      </div>
                      <!-- <div class="col">
                                <mat-form-field>
                                  <mat-label>Ruolo *</mat-label>
                                  <mat-select formControlName="ruolo">
                                    <mat-option *ngFor="let elem of ruoloData" [value]="elem">
                                      {{ elem.descTipoSoggCorr }}
                                    </mat-option>
                                    <mat-error *ngIf="formSoggetto.get('dati-anagrafici.ruolo')?.hasError('required')">
                                      Campo obbligatorio
                                    </mat-error>
                                  </mat-select>
                                </mat-form-field>
                              </div> -->
                    </div>

                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <div class="d-flex">
                          <div class="cell cell-margin">
                            <mat-form-field>
                              <mat-label>Codice Fiscale *</mat-label>
                              <input type="text" matInput formControlName="codiceFiscale" />
                            </mat-form-field>
                          </div>
                          <div class="cell">
                            <mat-form-field>
                              <input #datePicker matInput [matDatepicker]="myDatepicker" [max]="today"
                                formControlName="dtCostituzione" placeholder="Data costituzione">
                              <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                              </mat-datepicker-toggle>
                              <mat-datepicker #myDatepicker></mat-datepicker>
                              <mat-error
                                *ngIf="formSoggetto.get('dati-anagrafici.dtCostituzione')?.hasError('maggioreToday')">
                                La data non deve essere futura
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <mat-form-field>
                          <mat-label>PEC</mat-label>
                          <input type="text" matInput formControlName="pec" matTooltip="Tipo: mionome@pecazienda.it" />
                          <mat-error *ngIf="formSoggetto.get('dati-anagrafici.pec')?.hasError('notValid')">
                            Formato non valido
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>

                  <mat-divider [inset]="true"></mat-divider>

                  <section formGroupName="sede-legale">
                    <h3>Sede legale</h3>
                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <mat-form-field>
                          <mat-label>Indirizzo</mat-label>
                          <input type="text" matInput formControlName="indirizzo" />
                          <mat-error *ngIf="formSoggetto.get('sede-legale.indirizzo')?.hasError('minlength')">
                            Lunghezza minima 4 caratteri
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-label>Partita IVA</mat-label>
                          <input type="text" matInput formControlName="partitaIva" matTooltip="Tipo: 86334519757"
                            maxlength="11" />
                          <mat-error *ngIf="formSoggetto.get('sede-legale.partitaIva')?.hasError('minlength')">
                            Lunghezza richiesta 11 caratteri
                          </mat-error>
                          <mat-error *ngIf="formSoggetto.get('sede-legale.partitaIva')?.hasError('onlyNumbers')">
                            Formato non valido
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <div class="d-flex">
                          <div class="cell cell-margin">
                            <mat-form-field>
                              <input type="text" wai-aria="Selezionare una nazione" placeholder="Nazione"
                                aria-label="Number" matInput formControlName="nazione" [matAutocomplete]="autoNazioni"
                                (blur)="check('N')">
                              <mat-autocomplete autoActiveFirstOption #autoNazioni="matAutocomplete"
                                [displayWith]="displayFnNazioni" (optionSelected)="click($event,'N')">
                                <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400" #viewport
                                  class="viewport" [ngClass]="{'viewport-full': (filteredOptionsNazioni | async)?.length>4,
                                              'viewport-1': (filteredOptionsNazioni | async)?.length==1,
                                              'viewport-2': (filteredOptionsNazioni | async)?.length==2,
                                              'viewport-3': (filteredOptionsNazioni | async)?.length==3,
                                              'viewport-4': (filteredOptionsNazioni | async)?.length==4 }">
                                  <mat-option class="viewport-item"
                                    *cdkVirtualFor="let option of filteredOptionsNazioni | async" [value]="option">
                                    {{ option.descNazione }}
                                  </mat-option>
                                </cdk-virtual-scroll-viewport>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                          <div class="cell">
                            <mat-form-field>
                              <input type="text" wai-aria="Selezionare una regione" placeholder="Regione"
                                aria-label="Number" matInput formControlName="regione" [matAutocomplete]="autoRegioni"
                                (blur)="check('R')">
                              <mat-autocomplete autoActiveFirstOption #autoRegioni="matAutocomplete"
                                [displayWith]="displayFnRegioni" (optionSelected)="click($event,'R')">
                                <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400" #viewport
                                  class="viewport" [ngClass]="{'viewport-full': (filteredOptionsRegioni | async)?.length>4,
                                            'viewport-1': (filteredOptionsRegioni | async)?.length==1,
                                            'viewport-2': (filteredOptionsRegioni | async)?.length==2,
                                            'viewport-3': (filteredOptionsRegioni | async)?.length==3,
                                            'viewport-4': (filteredOptionsRegioni | async)?.length==4 }">
                                  <mat-option class="viewport-item"
                                    *cdkVirtualFor="let option of filteredOptionsRegioni | async" [value]="option">
                                    {{ option.descRegione }}
                                  </mat-option>
                                </cdk-virtual-scroll-viewport>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="d-flex">
                          <div class="cell-75 cell-margin d-flex justify-content-between">
                            <div class="cell2">
                              <mat-form-field>
                                <input type="text" wai-aria="Selezionare una provincia" placeholder="Provincia"
                                  aria-label="Number" matInput formControlName="provincia"
                                  [matAutocomplete]="autoProvincia" (blur)="check('P')">
                                <mat-autocomplete autoActiveFirstOption #autoProvincia="matAutocomplete"
                                  [displayWith]="displayFnProvince" (optionSelected)="click($event,'P')">
                                  <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                    #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsProvince | async)?.length>4,
                                            'viewport-1': (filteredOptionsProvince | async)?.length==1,
                                            'viewport-2': (filteredOptionsProvince | async)?.length==2,
                                            'viewport-3': (filteredOptionsProvince | async)?.length==3,
                                            'viewport-4': (filteredOptionsProvince | async)?.length==4 }">
                                    <mat-option class="viewport-item"
                                      *cdkVirtualFor="let option of filteredOptionsProvince | async" [value]="option">
                                      {{ option.siglaProvincia }}
                                    </mat-option>
                                  </cdk-virtual-scroll-viewport>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                            <div class="cell2b">
                              <mat-form-field>
                                <input type="text" wai-aria="Selezionare un comune" placeholder="Comune"
                                  aria-label="Number" matInput formControlName="comune" [matAutocomplete]="autoComune"
                                  (blur)="check('C')">
                                <mat-autocomplete autoActiveFirstOption #autoComune="matAutocomplete"
                                  [displayWith]="displayFnComuni" (optionSelected)="click($event,'C')">
                                  <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                    #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsComuni | async)?.length>4,
                                            'viewport-1': (filteredOptionsComuni | async)?.length==1,
                                            'viewport-2': (filteredOptionsComuni | async)?.length==2,
                                            'viewport-3': (filteredOptionsComuni | async)?.length==3,
                                            'viewport-4': (filteredOptionsComuni | async)?.length==4 }">
                                    <mat-option class="viewport-item"
                                      *cdkVirtualFor="let option of filteredOptionsComuni | async" [value]="option">
                                      {{ option.descComune }}
                                    </mat-option>
                                  </cdk-virtual-scroll-viewport>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="cell-20">
                            <mat-form-field>
                              <mat-label>CAP</mat-label>
                              <input type="text" matInput formControlName="cap" />
                              <mat-error *ngIf="formSoggetto.get('sede-legale.cap')?.hasError('onlyNumbers')">
                                Formato non valido
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <mat-divider [inset]="true"></mat-divider>

                  <section formGroupName="attivita-economica">
                    <h3>Attività economica</h3>
                    <div class="row d-flex justify-content-baseline">
                      <div class="col">

                        <mat-form-field>
                          <mat-label>Codice ATECO Prevalente</mat-label>
                          <input matInput [matAutocomplete]="auto6"
                            (input)="getElencoCodiceAteco(formSoggetto.get('attivita-economica.codiceAteco').value)"
                            formControlName="codiceAteco" (blur)="check('A')">
                          <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayFnAteco"
                            (optionSelected)="click($event,'A')">
                            <mat-option *ngFor="let ateco of codiceAtecoData" [value]="ateco">
                              {{ateco.codAteco}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                      <div class="col3">
                        <mat-form-field>
                          <mat-label>Descrizione Attività Prevalente</mat-label>
                          <input matInput formControlName="descrizioneAttivita" />
                        </mat-form-field>
                      </div>
                      <div class="col align-self-center">
                        <div class="d-flex justify-content-baseline">
                          <span>Rating di legalità</span>
                          <mat-radio-group aria-label="Select an option" class="d-flex"
                            formControlName="ratingLegalita">
                            <mat-radio-button value="S">Sì</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>

                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <div class="d-flex">
                          <div class="cell cell-margin">
                            <mat-form-field>
                              <mat-label>Stato attività</mat-label>
                              <mat-select formControlName="statoAttivita">
                                <mat-option *ngFor="let elem of statoAttivitaData" [value]="elem">
                                  {{ elem.descAttivita }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="cell">
                            <mat-form-field>
                              <input #datePicker2 matInput [matDatepicker]="myDatepicker2" [max]="today"
                                formControlName="dtInizioAttivita" placeholder="Data inizio attività">
                              <mat-datepicker-toggle matSuffix [for]="myDatepicker2">
                              </mat-datepicker-toggle>
                              <mat-datepicker #myDatepicker2></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                      </div>
                    </div>
                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <div class="d-flex">
                          <div class="cell cell-margin">
                            <mat-form-field>
                              <mat-label>Periodo chiusura esercizio</mat-label>
                              <!-- <input type="text" matInput formControlName="periodoChiusuraEsercizio" /> -->
                              <input type="text" matInput formControlName="periodoChiusuraEsercizio" />
                            </mat-form-field>
                          </div>
                          <div class="cell">
                            <mat-form-field>
                              <input #datePicker3 matInput [matDatepicker]="myDatepicker3" [max]="today"
                                formControlName="dtChiusuraEsercizio" placeholder="Data chiusura esercizio">
                              <mat-datepicker-toggle matSuffix [for]="myDatepicker3">
                              </mat-datepicker-toggle>
                              <mat-datepicker #myDatepicker3></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col">

                      </div>
                    </div>

                    <!-- <div class="row d-flex justify-content-baseline">
                              <div class="col">
                                <div class="d-flex">
                                  <div class="cell cell-margin">
                                    <mat-form-field>
                                      <mat-label>Quota di partecipazione</mat-label>
                                      <input type="text" matInput formControlName="quotaPartecipazione" />
                                    </mat-form-field>
                                  </div>
                                  <div class="cell">
          
                                  </div>
                                </div>
                              </div>
                              <div class="col">
          
                              </div>
                            </div> -->
                  </section>

                  <mat-divider [inset]="true"></mat-divider>

                  <section formGroupName="dati-iscrizione">
                    <h3>Dati iscrizione</h3>
                    <div class="row d-flex justify-content-baseline">
                      <div class="col">
                        <div class="d-flex">
                          <div class="cell cell-margin">
                            <mat-form-field>
                              <mat-label>Iscrizione REA/ Iscrizione ALBO </mat-label>
                              <input type="text" matInput formControlName="numeroRea" />
                            </mat-form-field>
                          </div>
                          <div class="cell">
                            <mat-form-field>
                              <input #datePicker4 matInput [matDatepicker]="myDatepicker4" [max]="today"
                                formControlName="dtIscrizione" placeholder="Data iscrizione">
                              <mat-datepicker-toggle matSuffix [for]="myDatepicker4">
                              </mat-datepicker-toggle>
                              <mat-datepicker #myDatepicker4></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="cell cell-margin">
                          <mat-form-field>
                            <mat-label>Provincia iscrizione</mat-label>
                            <mat-select formControlName="provinciaIscrizione">
                              <mat-option *ngFor="let elem of provinciaIscrizioneData" [value]="elem">
                                {{ elem.descProvincia }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </section>

                  <mat-divider [inset]="true"></mat-divider>

                  <section formGroupName="sezione-appartenenza">
                    <h3>Sezione di appartenenza</h3>
                    <div class="row">
                      <div class="col">
                        <div class="cell">
                          <mat-form-field>
                            <mat-label>Sezione di appartenenza</mat-label>
                            <mat-select formControlName="sezioneAppartenenza">
                              <mat-option *ngFor="let elem of sezioneAppartenanzaData" [value]="elem">
                                {{ elem.descSezioneSpeciale }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>

                <mat-divider [inset]="true"></mat-divider>

                <div class="d-flex spaceBetween">

                  <div>
                    <button mat-button class="button-style-1" (click)="goToStorico()">STORICO
                      BENEFICIARIO</button>
                  </div>

                  <div *ngIf="!editForm">

                    <button mat-raised-button class="button-style-2" (click)="editSoggetto()">
                      MODIFICA
                    </button>
                  </div>


                  <div *ngIf="editForm" id="button-footer-container" class="d-flex justify-content-end">
                    <button mat-button class="button-style-1" (click)="isNotEditSoggetto()">
                      ANNULLA
                    </button>
                    <button type="submit" mat-raised-button class="button-style-2" (click)="salvaModifiche()">
                      SALVA
                    </button>
                  </div>

                </div>
              </form>

              <!--<div> Spostato sulla stessa riga dei pulsanti di modifica
                    <mat-divider class="divider" [inset]="true"></mat-divider>
                    <div>
                      <button mat-button class="button-style-1" (click)="goToStorico()">STORICO
                        BENEFICIARIO</button>
                    </div>
                  </div>-->




            </div>



          </mat-tab>

          <mat-tab label="BLOCCHI">
            <div class="content" style="margin-top: 2em;">
              <h3> Elenco blocchi attivi</h3>
              <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isSaveBlocco">
                <mat-card-content class="messageSuccessContent">
                  <p>SUCCESSO!</p>
                  <p> Salvataggio avvenuto con successo</p>
                </mat-card-content>
              </mat-card>
              <div *ngIf="!isBlocchi">
                <mat-divider [inset]="true"></mat-divider>
                Nessun blocco presente
                <mat-divider [inset]="true"></mat-divider>
              </div>
              <div *ngIf="isBlocchi">

                <table mat-table [dataSource]="listaBlocchi" style="width: 100%;">

                  <!-- Data blocco -->
                  <ng-container matColumnDef="dataBlocco">
                    <th mat-header-cell *matHeaderCellDef> <b> Data blocco </b> </th>
                    <td mat-cell *matCellDef="let element"> {{ element.dataInserimentoBlocco|date:"dd/MM/yyyy"}} </td>
                  </ng-container>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Causale -->
                  <ng-container matColumnDef="causale">
                    <th mat-header-cell *matHeaderCellDef> <b> Causale blocco</b> </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.descCausaleBlocco}}</td>
                  </ng-container>

                  <mat-divider [inset]="true"></mat-divider>

                  <!-- Actions -->
                  <ng-container matColumnDef="azioni">
                    <th mat-header-cell *matHeaderCellDef> <b> </b> </th>
                    <td mat-cell *matCellDef="let element">
                      <div>
                        <button mat-icon-button (click)="modificaBlocco(element)" [disabled]="(element.descMacroArea=='Stato credito')">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBlocchi"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBlocchi;"></tr>
                </table>
              </div>
              <div class="spaceBetween">
                <button mat-button class="button-style-1" (click)="openStoricoBlocchi()">STORICO BLOCCO</button>
                <button mat-raised-button class="button-style-2" (click)="inserisciBlocco()">INSERISCI BLOCCO</button>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="SOGGETTI CORRELATI">
            <div class="content" style="margin-top: 2em;">
              <h3> Soggetti Correlati</h3>
              <app-lista-soggetti-correlati></app-lista-soggetti-correlati>
            </div>
          </mat-tab>

          <mat-tab label="ALTRI DATI">
            <div class="content" style="margin-top: 2em;">
              <h3>Dati Area Crediti</h3>
              <!--<mat-divider [inset]="true"></mat-divider>-->
              <mat-grid-list cols="10" rowHeight="45px">
                <mat-grid-tile [colspan]="4">
                  <div class="text-inside-grid">
                    Stato azienda: <b>{{(datiAreaCreditiSoggetto.descStatoAzienda)}}
                    </b>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <div class="text-inside-grid">
                    Data inizio: <b>{{datiAreaCreditiSoggetto.dataInizioVal|date: "dd/MM/yyyy"}}
                    </b>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <div class="text-inside-grid">
                    Data fine: <b>{{datiAreaCreditiSoggetto.dataFineVal|date: "dd/MM/yyyy"}}
                    </b>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3">
                  <div class="text-inside-grid">
                    Rating : <b>{{datiAreaCreditiSoggetto.descRating}}
                    </b>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3">
                  <div class="text-inside-grid">
                    Provider : <b>{{datiAreaCreditiSoggetto.descProvider}}
                    </b>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3">
                  <div class="text-inside-grid">
                    Data classificazione: <b>{{datiAreaCreditiSoggetto.dataClassificazione|date: "dd/MM/yyyy"}}
                    </b>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-divider [inset]="true"></mat-divider>
              <h3>Dimensione di impresa</h3>
              <!--<mat-divider [inset]="true"></mat-divider>-->

              <div *ngIf="isDatiImpresa">

                <table mat-table [dataSource]="dataSourceAltriDati_DimImpr" multiTemplateDataRows class="fullWidth">

                  <ng-container matColumnDef="dataValutazione">
                    <th mat-header-cell *matHeaderCellDef> <b>Data valutazione esito</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.dimImpr_dataValutazione | date:'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="esito">
                    <th mat-header-cell *matHeaderCellDef> <b>Esito</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.dimImpr_esito}} </td>
                  </ng-container>

                  <ng-container matColumnDef="azioni">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" layout="row">
                      <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element">
                        <mat-icon>info</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsAltriDatiDimImpr.length"
                      class="detalBoxRow">
                      <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                        <table mat-table [dataSource]="element.dettaglio" multiTemplateDataRows class="mat-elevation-z8"
                          style="background: #0043e900; width: 92%;">

                          <ng-container matColumnDef="annoRiferimento">
                            <th mat-header-cell *matHeaderCellDef>Anno di riferimento</th>
                            <td mat-cell *matCellDef="let element">{{element.annoRiferimento}} </td>
                          </ng-container>

                          <ng-container matColumnDef="unitaLavorativeAnnue">
                            <th mat-header-cell *matHeaderCellDef class="text-right"> U.L.A <br> Unità lavorativa annua
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-right">{{element.unitaLavorativeAnnue |
                              number: '1.2-2' : 'it'}} </td>
                          </ng-container>

                          <ng-container matColumnDef="fatturato">
                            <th mat-header-cell *matHeaderCellDef class="text-right"> Fatturato <br> (voce A1 conto
                              economico) </th>
                            <td mat-cell *matCellDef="let element" class="text-right">{{element.fatturato | number:
                              '1.2-2' : 'it'}} </td>
                          </ng-container>

                          <ng-container matColumnDef="bilancio">
                            <th mat-header-cell *matHeaderCellDef class="text-right"> Totale Bilancio annuale <br>
                              (totale attivo) </th>
                            <td mat-cell *matCellDef="let element" class="text-right">{{element.totaleBilancioAnnuale |
                              number: '1.2-2' : 'it'}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedInnerColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedInnerColumns;"></tr>
                        </table>

                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnsAltriDatiDimImpr"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsAltriDatiDimImpr;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                </table>

              </div>


              <div *ngIf="!isDatiImpresa">
                Dati di impresa non ancora disponibili .
              </div>
              <br>
              <br>

              <h3>DURC</h3>
              <!--<mat-divider [inset]="true"></mat-divider>-->

              <div *ngIf="!isDurcTable">
                Durc non disponibile.
              </div>
              <div *ngIf="isDurcTable">

                <table mat-table [dataSource]="dataSourceAltriDati_Durc">
                  <ng-container matColumnDef="dataEmissione">
                    <th mat-header-cell *matHeaderCellDef> <b>Data emissione</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.durc_dataEmiss | date:'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="esito">
                    <th mat-header-cell *matHeaderCellDef> <b>Esito</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.durc_esito}} </td>
                  </ng-container>

                  <ng-container matColumnDef="dataScadenza">
                    <th mat-header-cell *matHeaderCellDef> <b>Data scadenza</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.durc_dataScadenza | date:'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="numProto">
                    <th mat-header-cell *matHeaderCellDef> <b>N. protocollo INPS/INAIL</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.durc_numProto}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nomeDocumento">
                    <th mat-header-cell *matHeaderCellDef> <b>Nome documento</b> </th>
                    <td mat-cell *matCellDef="let row"> {{(row.nomeDocumento!=null)?row.nomeDocumento:"-"}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> <b> </b> </th>
                    <td mat-cell *matCellDef="let row"> 
                      <!-- <button mat-icon-button (click)="downloadAllegato(element.nomeDocumento, element.idDocumentoIndex)">  </button> -->
                      <mat-icon *ngIf="row.idDocumentoIndex!=null" matTooltip="scarica"  (click)="downloadAllegato(row.nomeDocumento, row.idDocumentoIndex)">download</mat-icon>
                     </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnsAltriDatiDurc"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsAltriDatiDurc;"></tr>
                </table>

              </div>

              <br>
              <br>

              <!-- <h2>Istruttoria BDNA</h2>
                      <mat-divider [inset]="true"></mat-divider>
          
                      <table mat-table [dataSource]="dataSourceAltriDati_Bdna">
                        <ng-container matColumnDef="dataRicezione">
                          <th mat-header-cell *matHeaderCellDef> <b>Data ricezione</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.bdna_dataRic | date:'dd/MM/yyyy'}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="numProto">
                          <th mat-header-cell *matHeaderCellDef> <b>Numero Protocollo</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.bdna_numProto}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="numeroDomanda">
                          <th mat-header-cell *matHeaderCellDef> <b>Numero Domanda</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.bdna_numDomanda}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsAltriDatiBdna"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsAltriDatiBdna;"></tr>
                      </table>
                      <br>
                      <br> -->

              <!-- <h2>Liberatoria Antimafia</h2>
                      <mat-divider [inset]="true"></mat-divider>
                      <table mat-table [dataSource]="dataSourceAltriDati_AntiMafia">
                        <ng-container matColumnDef="dataEmissione">
                          <th mat-header-cell *matHeaderCellDef> <b>Data Emissione</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.anti_dataEmiss | date:'dd/MM/yyyy'}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="dataScadenza">
                          <th mat-header-cell *matHeaderCellDef> <b>Data Scadenza</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.anti_dataScad | date:'dd/MM/yyyy'}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="numeroDomanda">
                          <th mat-header-cell *matHeaderCellDef> <b>Numero Domanda</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.anti_numDom}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="numProto">
                          <th mat-header-cell *matHeaderCellDef> <b>Numero Protocollo</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.anti_numProto}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="esito">
                          <th mat-header-cell *matHeaderCellDef> <b>Esito</b> </th>
                          <td mat-cell *matCellDef="let row"> {{row.anti_esito}} </td>
                        </ng-container>
          
          
                        <tr mat-header-row *matHeaderRowDef="columnsAltriDatiAntiMafia"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsAltriDatiAntiMafia;"></tr>
                      </table> -->
            </div>
          </mat-tab>

          <mat-tab label="ELENCO DOMANDE/PROGETTI">
            <div class="content" style="margin-top: 2em;">
              <h3>Elenco domande progetti</h3>
              <div>
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="fullWidth" matSort
                  #elencoDomandeProgettiSort="matSort">
                  <ng-container matColumnDef="codiceBando">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Codice bando</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.codiceBando}} </td>
                  </ng-container>
                  <ng-container matColumnDef="idDomanda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Numero domanda</b> </th>
                    <td mat-cell *matCellDef="let row"> {{row.numeroDomanda}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descStatoDomanda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Stato domanda</b> </th>
                    <td mat-cell *matCellDef="let row">{{row.descStatoDomanda}}</td>
                  </ng-container>
                  <ng-container matColumnDef="descProgetto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Codice progetto</b> </th>
                    <td mat-cell *matCellDef="let row">{{row.descProgetto}}</td>
                  </ng-container>
                  <ng-container matColumnDef="descStatoProgetto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Stato progetto</b> </th>
                    <td mat-cell *matCellDef="let row">{{row.descStatoProgetto}}</td>
                  </ng-container>
                  <ng-container matColumnDef="legaleRappresentante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Legale rappresentante</b> </th>
                    <td mat-cell *matCellDef="let row">{{row.legaleRappresentante != "null null" ?
                      row.legaleRappresentante : "N.D"}}</td>
                  </ng-container>
                  <ng-container matColumnDef="azioni">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-icon-button style="width: 30px;" matTooltip="Visualizza ulteriori dati anagrafici"
                        (click)="visualizzaDatiDomanda(row)">
                        <mat-icon>info</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsEg"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsEg;"></tr>
                </table>

                <mat-paginator #elencoDomandeProgetti [pageSizeOptions]="[2, 5, 10, 25, 100]" [pageSize]="5"
                  [showFirstLastButtons]="true" [ngClass]="{'displayNone': !dataSource || !dataSource.data?.length }">
                </mat-paginator>
              </div>
              <div>
                <button class="button-style-1" mat-button (click)="downloadExcel()">
                  <mat-icon class="padding-right-5">cloud_download</mat-icon>
                  SCARICA ELENCO
                </button>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>