.page {

    .title {

        .backContainer {
            padding-bottom: 5px;

            button {
                padding: 0px;
            }
            .blue-icon {
                color: #0060C1;
            }

            .backText{
                color: #0060C1;
                font-size: 16px;
                padding-left: 10px;
            }
        }

    }

    .content {

        mat-card-content {
            padding-left: 10px;
        }

        .intro {
           /* display: flex;
            align-items: center;*/

            p {
                margin: 0px;
                font-size: 16px;
            }

            span {
                font-weight: bold;
                font-size: 16px;
            }
        }

        table.mat-table {
          width: 100%;
        }

    }

    .archivioButton {
        flex-direction: row !important;
        justify-content: flex-end;
    }

}


.textAlignRight{
    text-align: right;
}

.blueText{
    color: #0060C1;
    font-weight: bold;
}

.displayNone {
    display: none !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #0060C1 !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color:  #0058B1 !important; /*click effect color change*/
}

::ng-deep .mat-sort-header-arrow {
    color: #0060C1;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.3 !important;
    transform: translateY(0px) !important;
}

::ng-deep .mat-paginator .mat-paginator-range-actions .mat-icon-button:enabled {
    color: #0058B1 !important;
}
