.nuova-modalita-page {
    display: flex;
    flex-direction: column;
}

.bold-text {
    font-weight: bold;
    margin-right: 10px;
}

::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
}
