.page {

    .title {

      .backContainer {
            padding-bottom: 5px;

            button {
                padding: 0px;
            }
            .blue-icon {
                color: #0060C1;
            }

            .backText{
                color: #0060C1;
                font-size: 16px;
                padding-left: 10px;
            }
        }

    }

    .content {

        ::ng-deep .mat-tab-label .mat-tab-label-content {
            font-size: 16px;
        }

        mat-tab-group {
            background-color: #ffffff;
            font-size: 16px;
        }
    }
}

.textAlignRight{
    text-align: right;
}

.marginTop20{
    margin-top: 20px;
}

.marginBottom40{
    margin-bottom: 40px;
}

.fontSize11{
    font-size: 11px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    font-size: 16px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

::ng-deep .mat-expansion-panel-content {
    font-size: 16px;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.marginLeft30{
    margin-left: 30px;
}

.marginLeft20{
    margin-left: 20px;
}

.marginLeft15{
    margin-left: 15px;
}

.marginRight15{
    margin-right: 15px;
}

.marginRight30{
    margin-right: 30px;
}

.marginTop30{
    margin-top: 30px;
}

.marginBottom30{
    margin-bottom: 30px;
}

.marginBottom15{
    margin-bottom: 15px;
}

.colorBlack{
    color: black;
}

.colorBlue{
    color: #0060C1;
}

.matExpansionDisableClick {
    pointer-events: none;
}

.rowCustom {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-2Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6667%;
    max-width: 16.6666666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    max-width: 33.3333333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-6Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.containerCustom{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}


*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

.fullWidth{
    width: 100%;
}

.h2Style {
    margin-bottom: 0px;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
    margin-right: 10px;
}

::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
}
