.noElements {
	display: flex;
	justify-content: center;
	color: grey;
	font-weight: 400;
	font-size: 13px;
}

.paddingLeft20 {
	padding-left: 20px;
}

.margin-right-10 {
	margin-right: 10px;
}

.width-50-perc {
	width: 50%;
}

.bold-text {
	font-weight: bold !important;
}

.width-data-extended {
	width: 155px !important;
}