<!-- <mat-spinner-pbandi [hidden]="!this.isLoading()"></mat-spinner-pbandi>
 -->
<div class="page">
    <mat-spinner-pbandi [hidden]="!spinner"></mat-spinner-pbandi>
    <app-torna-indietro [backText]="setBackText"></app-torna-indietro>
    <div class="title">
        <div class="reportingContainerUp">
            <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <div class="titleBar">
                    <h2>Dettaglio storico beneficiario</h2>
                    <p><b>NAG:</b> {{ndg}}</p>
                    <span><b>Identificativo versione:</b> {{idVersione}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z2">
            <mat-card-content>
                <mat-divider class="divider" [inset]="true"></mat-divider>
                <mat-tab-group mat-align-tabs="start">
                    
                    <mat-tab label="DATI GENERALI">
                        <div>
                            
                            <div>
                                <!-- <form [formGroup]="myForm">
                                    <div class="row">
                                        <mat-form-field class="col">
                                            <mat-label>Cognome</mat-label>
                                            <input type="text" matInput formControlName="cognome" disabled />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Nome</mat-label>
                                            <input matInput type="text" formControlName="nome" [disabled]="true" />
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="col">
                                            <mat-label>Tipo Soggetto</mat-label>
                                            <input type="text" matInput formControlName="tipoSoggetto"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Codice Fiscale</mat-label>
                                            <input type="text" matInput formControlName="codiceFiscale"
                                                [disabled]="true" />
                                        </mat-form-field>
                                    </div>
                                    <div class="row">
                                        <mat-form-field class="col">
                                            <mat-label>Data di nascita</mat-label>
                                            <input type="text" matInput formControlName="dataDiNascita"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Comune di nascita</mat-label>
                                            <input type="text" matInput formControlName="comuneDiNascita"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Provincia di nascita</mat-label>
                                            <input type="text" matInput formControlName="provinciaDiNascita"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Regione di nascita</mat-label>
                                            <input type="text" matInput formControlName="regioneDiNascita"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Nazione di nascita</mat-label>
                                            <input type="text" matInput formControlName="nazioneDiNascita"
                                                [disabled]="true" />
                                        </mat-form-field>
                                    </div>

                                    <mat-divider class="divider" [inset]="true"></mat-divider>

                                    <h3>Residenza</h3>

                                    <div class="row">
                                        <mat-form-field class="col">
                                            <mat-label>Indirizzo</mat-label>
                                            <input type="text" matInput formControlName="indirizzoPF"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Comune</mat-label>
                                            <input type="text" matInput formControlName="comunePF" [disabled]="true" />
                                        </mat-form-field>
                                    </div>

                                    <div class="row">
                                        <mat-form-field class="col">
                                            <mat-label>Provincia</mat-label>
                                            <input type="text" matInput formControlName="provinciaPF"
                                                [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>CAP</mat-label>
                                            <input type="text" matInput formControlName="capPF" [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Regione</mat-label>
                                            <input type="text" matInput formControlName="regionePF" [disabled]="true" />
                                        </mat-form-field>
                                        <mat-form-field class="col">
                                            <mat-label>Nazione</mat-label>
                                            <input type="text" matInput formControlName="nazionePF" [disabled]="true" />
                                        </mat-form-field>
                                    </div>
                                </form> -->
                                <form [formGroup]="formSoggetto">
                                    <div id="container-form">
                  
                                      <div class="titleBar">
                                        <h3>Dati anagrafici</h3>
                                      </div>
                                      
                                      <section formGroupName="dati-anagrafici">
                  
                                        <div class="row d-flex justify-content-baseline">
                                          <div class="col">
                                            <div class="d-flex">
                                              <div class="cell cell-margin">
                                                <mat-form-field>
                                                  <mat-label>Cognome</mat-label>
                                                  <input type="text" matInput formControlName="cognome" />
                                                </mat-form-field>
                                              </div>
                                              <div class="cell">
                                                <mat-form-field>
                                                  <mat-label>Nome</mat-label>
                                                  <input type="text" matInput formControlName="nome" />
                                                </mat-form-field>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col">
                  
                                          </div>
                                        </div>
                                        <div class="row d-flex justify-content-baseline">
                                          <div class="col">
                                            <div class="d-flex">
                  
                                              <mat-form-field>
                                                <mat-label>Ruolo *</mat-label>
                                                <mat-select formControlName="ruolo">
                                                  <mat-option *ngFor="let elem of tipoAnagraficaData" [value]="elem">
                                                    {{ elem.descAttivita }}
                                                  </mat-option>
                                                  <mat-error *ngIf="formSoggetto.get('dati-anagrafici.ruolo')?.hasError('required')">
                                                    Campo obbligatorio
                                                  </mat-error>
                                                </mat-select>
                                              </mat-form-field>
                                              <div class="cell">
                                                <mat-form-field>
                                                  <mat-label>Codice Fiscale</mat-label>
                                                  <input type="text" matInput formControlName="codiceFiscale" />
                                                </mat-form-field>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="cell cell-margin">
                                              <mat-form-field>
                                                <input #datePicker matInput [matDatepicker]="myDatepicker" formControlName="dtNascita"
                                                  placeholder="Data di nascita">
                                                <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #myDatepicker></mat-datepicker>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                        </div>
                  
                                        <div class="row d-flex justify-content-baseline">
                                          <div class="col">
                                            <div class="d-flex">
                                              <div class="cell cell-margin">
                                                <mat-form-field>
                                                  <input type="text" wai-aria="Selezionare una nazione" placeholder="Nazione"
                                                    aria-label="Number" matInput formControlName="nazione"
                                                    [matAutocomplete]="autoNazioniNascita" (blur)="checkNascita('N')">
                                                  <mat-autocomplete autoActiveFirstOption #autoNazioniNascita="matAutocomplete"
                                                    [displayWith]="displayFnNazioni" (optionSelected)="clickNascita($event,'N')">
                                                    <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                      #viewport class="viewport"
                                                      [ngClass]="{'viewport-full': (filteredOptionsNazioniNascita | async)?.length>4,
                                                                        'viewport-1': (filteredOptionsNazioniNascita | async)?.length==1,
                                                                        'viewport-2': (filteredOptionsNazioniNascita | async)?.length==2,
                                                                        'viewport-3': (filteredOptionsNazioniNascita | async)?.length==3,
                                                                        'viewport-4': (filteredOptionsNazioniNascita | async)?.length==4 }">
                                                      <mat-option class="viewport-item"
                                                        *cdkVirtualFor="let option of filteredOptionsNazioniNascita | async"
                                                        [value]="option">
                                                        {{ option.descNazione }}
                                                      </mat-option>
                                                    </cdk-virtual-scroll-viewport>
                                                  </mat-autocomplete>
                                                </mat-form-field>
                                              </div>
                                              <div class="cell">
                                                <mat-form-field>
                                                  <input type="text" wai-aria="Selezionare una regione" placeholder="Regione"
                                                    aria-label="Number" matInput formControlName="regione"
                                                    [matAutocomplete]="autoRegioniNascita" (blur)="checkNascita('R')">
                                                  <mat-autocomplete autoActiveFirstOption #autoRegioniNascita="matAutocomplete"
                                                    [displayWith]="displayFnRegioni" (optionSelected)="clickNascita($event,'R')">
                                                    <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                      #viewport class="viewport"
                                                      [ngClass]="{'viewport-full': (filteredOptionsRegioniNascita | async)?.length>4,
                                                                      'viewport-1': (filteredOptionsRegioniNascita | async)?.length==1,
                                                                      'viewport-2': (filteredOptionsRegioniNascita | async)?.length==2,
                                                                      'viewport-3': (filteredOptionsRegioniNascita | async)?.length==3,
                                                                      'viewport-4': (filteredOptionsRegioniNascita | async)?.length==4 }">
                                                      <mat-option class="viewport-item"
                                                        *cdkVirtualFor="let option of filteredOptionsRegioniNascita | async"
                                                        [value]="option">
                                                        {{ option.descRegione }}
                                                      </mat-option>
                                                    </cdk-virtual-scroll-viewport>
                                                  </mat-autocomplete>
                                                </mat-form-field>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="d-flex">
                                              <div class="cell-75 cell-margin d-flex justify-content-between">
                                                <div class="cell2">
                                                  <mat-form-field>
                                                    <input type="text" wai-aria="Selezionare una provincia" placeholder="Provincia"
                                                      aria-label="Number" matInput formControlName="provincia"
                                                      [matAutocomplete]="autoProvinciaNascita" (blur)="checkNascita('P')">
                                                    <mat-autocomplete autoActiveFirstOption #autoProvinciaNascita="matAutocomplete"
                                                      [displayWith]="displayFnProvinceNascita"
                                                      (optionSelected)="clickNascita($event,'P')">
                                                      <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                        #viewport class="viewport"
                                                        [ngClass]="{'viewport-full': (filteredOptionsProvinceNascita | async)?.length>4,
                                                                      'viewport-1': (filteredOptionsProvinceNascita | async)?.length==1,
                                                                      'viewport-2': (filteredOptionsProvinceNascita | async)?.length==2,
                                                                      'viewport-3': (filteredOptionsProvinceNascita | async)?.length==3,
                                                                      'viewport-4': (filteredOptionsProvinceNascita | async)?.length==4 }">
                                                        <mat-option class="viewport-item"
                                                          *cdkVirtualFor="let option of filteredOptionsProvinceNascita | async"
                                                          [value]="option">
                                                          {{ option.descProvincia }}
                                                        </mat-option>
                                                      </cdk-virtual-scroll-viewport>
                                                    </mat-autocomplete>
                                                  </mat-form-field>
                                                </div>
                                                <div class="cell2b">
                                                  <mat-form-field>
                                                    <input type="text" wai-aria="Selezionare un comune" placeholder="Comune"
                                                      aria-label="Number" matInput formControlName="comune"
                                                      [matAutocomplete]="autoComuneNascita" (blur)="checkNascita('C')">
                                                    <mat-autocomplete autoActiveFirstOption #autoComuneNascita="matAutocomplete"
                                                      [displayWith]="displayFnComuni" (optionSelected)="clickNascita($event,'C')">
                                                      <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                        #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsComuniNascita | async)?.length>4,
                                                                      'viewport-1': (filteredOptionsComuniNascita | async)?.length==1,
                                                                      'viewport-2': (filteredOptionsComuniNascita | async)?.length==2,
                                                                      'viewport-3': (filteredOptionsComuniNascita | async)?.length==3,
                                                                      'viewport-4': (filteredOptionsComuniNascita | async)?.length==4 }">
                                                        <mat-option class="viewport-item"
                                                          *cdkVirtualFor="let option of filteredOptionsComuniNascita | async"
                                                          [value]="option">
                                                          {{ option.descComune }}
                                                        </mat-option>
                                                      </cdk-virtual-scroll-viewport>
                                                    </mat-autocomplete>
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                  
                                      <section formGroupName="residenza">
                                        <h3>Residenza</h3>
                  
                                        <div>
                                          <div class="col">
                                            <div class="cell">
                                              <mat-form-field style="width: 400px ;">
                                                <mat-label>Indirizzo</mat-label>
                                                <input type="text" matInput formControlName="indirizzo" />
                                                <mat-error
                                                  *ngIf="formSoggetto.get('residenza').get('indirizzo').errors?.error==='required'">
                                                  Campo obbligatorio
                                                </mat-error>
                                              </mat-form-field>
                                            </div>
                                          </div>
                                          <div class="col">
                                          </div>
                                        </div>
                  
                                        <div class="row d-flex justify-content-baseline">
                                          <div class="col">
                                            <div class="d-flex">
                                              <div class="cell cell-margin">
                                                <mat-form-field>
                                                  <input type="text" wai-aria="Selezionare una nazione" placeholder="Nazione"
                                                    aria-label="Number" matInput formControlName="nazioneResidenza"
                                                    [matAutocomplete]="autoNazioni" (blur)="check('N')">
                                                  <mat-autocomplete autoActiveFirstOption #autoNazioni="matAutocomplete"
                                                    [displayWith]="displayFnNazioni" (optionSelected)="click($event,'N')">
                                                    <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                      #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsNazioni | async)?.length>4,
                                                                      'viewport-1': (filteredOptionsNazioni | async)?.length==1,
                                                                      'viewport-2': (filteredOptionsNazioni | async)?.length==2,
                                                                      'viewport-3': (filteredOptionsNazioni | async)?.length==3,
                                                                      'viewport-4': (filteredOptionsNazioni | async)?.length==4 }">
                                                      <mat-option class="viewport-item"
                                                        *cdkVirtualFor="let option of filteredOptionsNazioni | async" [value]="option">
                                                        {{ option.descNazione }}
                                                      </mat-option>
                                                    </cdk-virtual-scroll-viewport>
                                                  </mat-autocomplete>
                                                </mat-form-field>
                                              </div>
                                              <div class="cell">
                                                <mat-form-field>
                                                  <input type="text" wai-aria="Selezionare una regione" placeholder="Regione"
                                                    aria-label="Number" matInput formControlName="regioneResidenza"
                                                    [matAutocomplete]="autoRegioni" (blur)="check('R')">
                                                  <mat-autocomplete autoActiveFirstOption #autoRegioni="matAutocomplete"
                                                    [displayWith]="displayFnRegioni" (optionSelected)="click($event,'R')">
                                                    <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                      #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsRegioni | async)?.length>4,
                                                                    'viewport-1': (filteredOptionsRegioni | async)?.length==1,
                                                                    'viewport-2': (filteredOptionsRegioni | async)?.length==2,
                                                                    'viewport-3': (filteredOptionsRegioni | async)?.length==3,
                                                                    'viewport-4': (filteredOptionsRegioni | async)?.length==4 }">
                                                      <mat-option class="viewport-item"
                                                        *cdkVirtualFor="let option of filteredOptionsRegioni | async" [value]="option">
                                                        {{ option.descRegione }}
                                                      </mat-option>
                                                    </cdk-virtual-scroll-viewport>
                                                  </mat-autocomplete>
                                                </mat-form-field>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col">
                                            <div class="d-flex">
                                              <div class="cell-75 cell-margin d-flex justify-content-between">
                                                <div class="cell2">
                                                  <mat-form-field>
                                                    <input type="text" wai-aria="Selezionare una provincia" placeholder="Provincia"
                                                      aria-label="Number" matInput formControlName="provinciaResidenza"
                                                      [matAutocomplete]="autoProvincia" (blur)="check('P')">
                                                    <mat-autocomplete autoActiveFirstOption #autoProvincia="matAutocomplete"
                                                      [displayWith]="displayFnProvince" (optionSelected)="click($event,'P')">
                                                      <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                        #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsProvince | async)?.length>4,
                                                                    'viewport-1': (filteredOptionsProvince | async)?.length==1,
                                                                    'viewport-2': (filteredOptionsProvince | async)?.length==2,
                                                                    'viewport-3': (filteredOptionsProvince | async)?.length==3,
                                                                    'viewport-4': (filteredOptionsProvince | async)?.length==4 }">
                                                        <mat-option class="viewport-item"
                                                          *cdkVirtualFor="let option of filteredOptionsProvince | async" [value]="option">
                                                          {{ option.siglaProvincia }}
                                                        </mat-option>
                                                      </cdk-virtual-scroll-viewport>
                                                    </mat-autocomplete>
                                                  </mat-form-field>
                                                </div>
                                                <div class="cell2b">
                                                  <mat-form-field>
                                                    <input type="text" wai-aria="Selezionare un comune" placeholder="Comune"
                                                      aria-label="Number" matInput formControlName="comuneResidenza"
                                                      [matAutocomplete]="autoComune" (blur)="check('C')">
                                                    <mat-autocomplete autoActiveFirstOption #autoComune="matAutocomplete"
                                                      [displayWith]="displayFnComuni" (optionSelected)="click($event,'C')">
                                                      <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="200" maxBufferPx="400"
                                                        #viewport class="viewport" [ngClass]="{'viewport-full': (filteredOptionsComuni | async)?.length>4,
                                                                    'viewport-1': (filteredOptionsComuni | async)?.length==1,
                                                                    'viewport-2': (filteredOptionsComuni | async)?.length==2,
                                                                    'viewport-3': (filteredOptionsComuni | async)?.length==3,
                                                                    'viewport-4': (filteredOptionsComuni | async)?.length==4 }">
                                                        <mat-option class="viewport-item"
                                                          *cdkVirtualFor="let option of filteredOptionsComuni | async" [value]="option">
                                                          {{ option.descComune }}
                                                        </mat-option>
                                                      </cdk-virtual-scroll-viewport>
                                                    </mat-autocomplete>
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                              <div class="cell-20">
                                                <mat-form-field>
                                                  <mat-label>CAP</mat-label>
                                                  <input type="text" matInput formControlName="cap" />
                                                  <mat-error *ngIf="formSoggetto.get('sede-legale.cap')?.hasError('onlyNumbers')">
                                                    Formato non valido
                                                  </mat-error>
                                                </mat-form-field>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </section>
                  
                                    </div>
                                   
                                  </form>
                           
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>