.row {
  display: flex;

  .col {
    flex-grow: 1;
    padding-right: 10px;
  }
}

.reportingContainerUp {
  display: flex;
  justify-content: space-between;
}

.reportingContainerUpbutton {
  text-align: right;
}

.reportingContainerDown {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

.marginRight {
  margin-right: 15px;
}

.margin0 {
  margin: 0px !important;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginRight25 {
  margin-right: 25px;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.padding-right-5 {
  padding-right: 5px;
}

.scarica-button {
  color: #0a9de5;
}

mat-option {
  height: 35px !important;
  line-height: 35px !important;
}

::ng-deep .mat-paginator .mat-paginator-range-actions .mat-icon-button:enabled {
  color: #0058b1 !important;
}
.arancione-button {
  background-color: rgba(245, 124, 0, 1);
  color: #fff;
}

.blu-button {
  float: right;
  background-color: #0060c1;
  color: #fff;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.detail {
  overflow: hidden;
  display: flex;
}

::ng-deep .mat-sort-header-content {
  text-align: left !important;
}

.example-element-detail {
  overflow: hidden;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.detailBoxRow {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: #e0e0e0;
}

.margin-left-10 {
  margin-left: 18px;
}

.button-marty{
  display: flex; 
  justify-content: end;     
  margin-top: 4em;;
}

.expanded-marty{
  min-height: 8em;
  display: flex;
  justify-content: flex-start;
  height: auto;
}
.marty-td{
  width: auto!important;
  max-width: 20em!important;
  text-align: left;
  padding: 8px;
}
    