.page {

    .content {

        mat-card-content {
            padding-left: 10px;
        }

        .header {
            display: flex;
            align-items: center;

            h3 {
                font-size: 18px;
                font-weight: bold;
            }

            .arrow {
                color: grey;
            }

        }

        mat-divider {
            margin: 10px 0 20px 0;
        }

        .benef {
            display: flex;
            align-items: center;

            p {
                margin: 0px;
                font-size: 16px;
            }

            span {
                font-weight: bold;
                font-size: 16px;
            }
        }

        .row {
            display: flex;

            .col {
                flex-grow: 1;
                padding-right: 10px;
            }
        }

        table {
            mat-icon {
                color: #006CB4;
            }
        }
    }

    .content-cards {
        padding: 24px 24px 24px 0;

        .bandoNotifiche {
            display: flex;
            margin-bottom: 20px;
            align-items: center;
            justify-content: space-between;
            padding-right: 5px;

            .p-bando {
                font-size: 18px;
                margin-left: 8px;

                span {
                    font-weight: bold;
                }
            }

            mat-icon {
                color: #006CB4;
            }
        }

        mat-card {
            width: 88%;
            height: 88%;

            p {
                font-size: 15px;
                font-weight: bold;
                padding-left: 15px;
            }

            mat-divider {
                border-width: 2px;
                padding-bottom: 10px;
            }

            .divAttivita {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                overflow-x: hidden;
                height: 300px;

                .singolaAttivita {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                button {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 12px;
                    font-weight: bold;
                    color: #0060C1;
                }
            }


        }
    }
}

.backContainer {
    padding-bottom: 5px;

    button {
        padding: 0px;
    }
    .blue-icon {
        color: #0060c1;
    }

    .backText {
        color: #0060c1;
        font-size: 16px;
        padding-left: 10px;
    }
}

.reportingContainerUp {
    display: flex;
    justify-content: space-between;
}

.reportingContainerUpbutton {
    text-align: right;
}

.reportingContainerDown {
    display: flex;
    justify-content: flex-end;
}

table {
    width: 100%;
}


.marginRight {
    margin-right: 15px;
}

.margin0 {
    margin: 0px !important;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginRight25 {
    margin-right: 25px;
}

.marginLeft25{
    margin-left: 25px !important;
}

.marginLeft30{
    margin-left: 30px;
}

.marginTop30{
    margin-top: 30px;
}

.marginRight10 {
    margin-right: 10px;
}

.fullWidth{
    width: 100%;
}

mat-option {
    height: 35px !important;
    line-height: 35px !important;
}

::ng-deep .mat-paginator .mat-paginator-range-actions .mat-icon-button:enabled {
    color: #0058b1 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #0058B1!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0058B1;
}

.textAlignRight {
    text-align: right;
}

.marginBottom40{
    margin-bottom: 40px;
}

.paddingRight15 {
    padding-right: 15px;
}

.colorBlue {
    color: #0058B1;
}

.clickableItem {
    cursor: pointer;
}

.customButton {
    border: 2px solid #9D9D9C !important;
    font-size: 16px;
    font-weight: bold;
    color: #9D9D9C !important;
}

.benef {
    display: flex;
    align-items: center;

    p {
        margin: 0px;
        font-size: 16px;
    }

    span {
        font-weight: bold;
        font-size: 16px;
    }
}

.marginTop20{
    margin-top: 20px;
}

.rowCustom {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-2Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16.6667%;
    max-width: 16.6666666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-3Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-015Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 12.5%;
    max-width: 12.5%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-10Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 83.3335%;
    max-width: 83.3335%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    max-width: 33.3333333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-6Custom {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.containerCustom{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}
