<mat-spinner-pbandi *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" #scrollId [ngClass]="{'displayNone':!(!isEditMode && !isLoading())}"
    *ngIf="!isEditMode && !isLoading()">
    <div class="spaceBetween">
        <h3 class="bold-text">Dettaglio utente</h3>
        <button type="button" mat-icon-button class="blue-color" (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isMessageSuccessVisible">
        <mat-card-content class="messageSuccessContent">
            <p [innerHTML]="messageSuccess"></p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
        <mat-card-content class="messageErrorContent">
            <p [innerHTML]="messageError"></p>
        </mat-card-content>
    </mat-card>


    <div *ngIf="!isSaveModifiche">

        <!-- text box -->
        <mat-form-field class="width-49-perc margin-right-10">
            <input type="text" placeholder="Nome" [(ngModel)]="utenteRicercatoSelected.nome" matInput
                name="nomeNuovoUteneInputText" [disabled]="!isEditMode">
        </mat-form-field>

        <!-- text box -->
        <mat-form-field class="width-49-perc">
            <input type="text" placeholder="Cognome" [(ngModel)]="utenteRicercatoSelected.cognome" matInput
                name="cognomeNuovoUteneInputText" [disabled]="!isEditMode">
        </mat-form-field>

        <!-- text box -->
        <mat-form-field class="width-49-perc margin-right-10">
            <input type="text" placeholder="Codice fiscale" [(ngModel)]="utenteRicercatoSelected.codiceFiscale" matInput
                name="cfNuovoUteneInputText" [disabled]="!isEditMode">
        </mat-form-field>
        <!-- text box -->
        <mat-form-field class="width-49-perc">
            <input type="text" placeholder="Tipo anagrafica" [(ngModel)]="utenteRicercatoSelected.descTipoAnagrafica"
                matInput name="anagraficaUtenteInputText" [disabled]="!isEditMode">
        </mat-form-field>

        <mat-form-field class="width-49-perc margin-right-10"
            *ngIf="utenteRicercatoSelected?.descBreveTipoAnagrafica === descBreveRuoloIstruttoreOI || utenteRicercatoSelected?.descBreveTipoAnagrafica === descBreveRuoloIstruttoreADG">
            <input type="text" placeholder="Indirizzo e-mail" [(ngModel)]="utenteRicercatoSelected.email" matInput
                name="email" #mail="ngModel" [disabled]="!isEditMode"
                pattern="^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$">
            <mat-error *ngIf="mail?.errors?.pattern">
                Formato non valido
            </mat-error>
        </mat-form-field>

        <div *ngIf="dataDettaglioUtente && dataDettaglioUtente.length > 0">

            <h3 class="bold-text">Enti di competenza</h3>

            <mat-list *ngFor="let d of dataDettaglioUtente; let i = index">
                <mat-list-item class="listItem"> {{d.descEstesa}} </mat-list-item>
            </mat-list>

        </div>

    </div>

    <app-gestione-benef-prog *ngIf="isGestioneBenProgVisible" [utente]="utenteRicercatoSelected">
    </app-gestione-benef-prog>

    <div class="spaceBetween margin-top-20">
        <button *ngIf="isGestioneBenProgVisible" mat-button class="button-style-1" (click)="goToDettaglio()">
            TORNA AL DETTAGLIO
        </button>
        <div *ngIf="!isGestioneBenProgVisible">
            <button mat-button class="button-style-1" (click)="close()">
                CHIUDI
            </button>
        </div>
        <div *ngIf="!isSaveModifiche && !isGestioneBenProgVisible">
            <button mat-button class="button-style-1" (click)="OnModificaPressed()">
                MODIFICA
            </button>
            <button mat-raised-button class="button-style-2" (click)="gestioneBeneficiarioProgetto()"
                *ngIf="isGestioneBenProgButtonVisible">
                GESTIONE BENEFICIARIO - PROGETTO
            </button>
        </div>
        <button *ngIf="isSaveModifiche && !!isGestioneBenProgVisible" mat-button class="button-style-1"
            (click)="OnOkPressed()">
            OK
        </button>
    </div>
</div>

<div [ngClass]="{'displayNone': !(isEditMode && !isSaveModifiche && !isLoading())}">

    <div class="spaceBetween">
        <h3 class="bold-text">Modifica utente</h3>
        <button type="button" mat-icon-button class="blue-color" (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isMessageSuccessVisible">
        <mat-card-content class="messageSuccessContent">
            <p [innerHTML]="messageSuccess"></p>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
        <mat-card-content class="messageErrorContent">
            <p [innerHTML]="messageError"></p>
        </mat-card-content>
    </mat-card>
    <form #inputForm="ngForm">
        <!-- text box  nome-->
        <mat-form-field class="width-49-perc margin-right-10">
            <input type="text" placeholder="Nome" [(ngModel)]="utenteRicercatoSelected.nome" matInput
                name="nomeNuovoUteneInputText">
        </mat-form-field>

        <!-- text box  cognome -->
        <mat-form-field class="width-49-perc">
            <input type="text" placeholder="Cognome" [(ngModel)]="utenteRicercatoSelected.cognome" matInput
                name="cognomeNuovoUteneInputText">
        </mat-form-field>

        <!-- text box cf-->
        <mat-form-field class="width-49-perc margin-right-10">
            <input type="text" placeholder="Codice fiscale" [(ngModel)]="utenteRicercatoSelected.codiceFiscale" matInput
                name="cfNuovoUteneInputText">
        </mat-form-field>

        <!-- text box anagrafica-->
        <mat-form-field class="width-49-perc">
            <input type="text" placeholder="Codice fiscale" [(ngModel)]="utenteRicercatoSelected.descTipoAnagrafica"
                matInput name="anagraficaUteneInputText" [disabled]="true">
        </mat-form-field>

        <mat-form-field class="width-49-perc margin-right-10"
            *ngIf="utenteRicercatoSelected?.descBreveTipoAnagrafica === descBreveRuoloIstruttoreOI || utenteRicercatoSelected?.descBreveTipoAnagrafica === descBreveRuoloIstruttoreADG">
            <input type="text" placeholder="Indirizzo e-mail" [(ngModel)]="utenteRicercatoSelected.email" matInput
                name="email" #mail="ngModel"
                pattern="^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$">
            <mat-error *ngIf="mail?.errors?.pattern">
                Formato non valido
            </mat-error>
        </mat-form-field>
    </form>
    <mat-card class="mat-elevation-z2" id="mat-card-scroll" *ngIf="isVisibleEntiAssocite">

        <div class="title">
            <h3 class="bold-text">Enti da associare</h3>
        </div>

        <mat-card-content class="mat-form-field-wrapper ng-tns-c78-6 ">
            <!--*ngIf="!isIstruttoreOrganismoIntermedio" -->

            <div *ngFor="let enti of entiAssociabiliSupport.entiAssociabiliFiltrati; let i = index" [value]="enti">
                <mat-checkbox class="my-checkbox" [(ngModel)]="enti.checkboxselected" (click)="onCheckboxChange(enti)">
                    {{enti.descrizione}} </mat-checkbox>
                <br>
            </div>
            <!--(change)="onCkeckboxSelected()"-->

            <div *ngFor="let enti of entiAssociabiliSupport.entiAssociatiList; let i = index" [value]="enti">
                <mat-checkbox class="my-checkbox" [(ngModel)]="enti.checkboxselected" (click)="onCheckboxChange2(enti)">
                    {{enti.descEstesa}} </mat-checkbox>
                <br>
            </div>

        </mat-card-content>


    </mat-card>

    <div class="spaceBetween">
        <button mat-button class="button-style-1" (click)="indietro()">
            INDIETRO
        </button>
        <button mat-button class="button-style-1" (click)="OnSalvaModifichePressed()"
            [disabled]="!isAnagraficaSelected">
            SALVA
        </button>
    </div>
</div>