.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.width-50-perc {
    width: 50%;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}
