<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone': isLoading()}" id="scrollId">
    <div class="title">
        <div class="backContainer">
            <button (click)="tornaAAttivitaDaSvolgere()" mat-button>
                <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
                <span class="backText">Torna alle attività da svolgere</span>
            </button>
        </div>
        <h2>Richiesta del conto economico in domanda</h2>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isMessageSuccessVisible">
            <mat-card-content class="messageSuccessContent">
                <p [innerHTML]="messageSuccess"></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
            <mat-card-content class="messageErrorContent">
                <p [innerHTML]="messageError"></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z2 messageWarning" *ngIf="isMessageWarningVisible">
            <mat-card-content class="messageWarningContent">
                <p [innerHTML]="messageWarning"></p>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-elevation-z2">
            <mat-card-content>
                <div class="cod-progetto">
                    <p>Beneficiario: <span class="bold-text">{{user?.beneficiarioSelezionato?.denominazione}}</span></p>
                </div>
                <div class="cod-progetto">
                    <p>Codice progetto: <span class="bold-text">{{codiceProgetto}}</span></p>
                    <button class="button-style-1 paddingLeft20" mat-button
                        (click)="goToDatiProgettoEAttivitaPregresse()">DATI PROGETTO ATTIVIT&Agrave; PREGRESSE</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z8">
            <mat-card-content>
                <h3>Concludi la richiesta del conto economico</h3>
                <p>Totale richiesto in domanda: <span class="bold-text">{{totaleRichiestoInDomanda | number:
                        '1.2-2' : 'it'}}</span></p>
                <p *ngIf="!dataSourceModalita || !dataSourceModalita.data || dataSourceModalita.data.length===0">Non ci
                    sono elementi da
                    visualizzare.</p>
                <mat-card class="mat-elevation-z2"
                    [ngClass]="{'displayNone': !dataSourceModalita || !dataSourceModalita.data || dataSourceModalita.data.length===0}">
                    <mat-card-content>
                        <table mat-table [dataSource]="dataSourceModalita" class="fullWidth">

                            <ng-container matColumnDef="modalita">
                                <th mat-header-cell *matHeaderCellDef> Modalità di agevolazione </th>
                                <td mat-cell *matCellDef="let row" [ngClass]="{'bold-text': row.isModalitaTotale}">
                                    {{row.descModalita}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="max">
                                <th mat-header-cell *matHeaderCellDef class="text-right"> Importo massimo agevolazione
                                </th>
                                <td mat-cell *matCellDef="let row" class="text-right"
                                    [ngClass]="{'bold-text': row.isModalitaTotale}">
                                    {{row.importoMassimoAgevolato | number: '1.2-2' : 'it'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="perc1">
                                <th mat-header-cell *matHeaderCellDef class="text-right"> % </th>
                                <td mat-cell *matCellDef="let row" class="text-right"
                                    [ngClass]="{'bold-text': row.isModalitaTotale}">
                                    {{row.percentualeMassimoAgevolato | number: '1.2-2' : 'it'}}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsModalita"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsModalita;">
                            </tr>
                        </table>
                    </mat-card-content>
                </mat-card>
                <form #propostaForm="ngForm" class="margin-top-20 fullWidth display-flex flex-direction-column">
                    <mat-form-field class="fullWidth">
                        <mat-label>Note</mat-label>
                        <textarea matInput [(ngModel)]="note" name="note" maxlength="4000"
                            [disabled]="isValidated"></textarea>
                        <mat-hint>{{note ? note.length : 0}}/4000</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="width-50-perc">
                        <input type="text" placeholder="Importo richiesto finanziamento banca" matInput
                            pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" [(ngModel)]="importoFinanziamentoFormatted"
                            name="importoFinanziamento" #impFin="ngModel" (blur)="setImportoFinanziamento()"
                            [disabled]="isValidated">
                        <mat-error *ngIf="impFin?.errors?.error ==='notValid'">
                            L'importo non è valido
                        </mat-error>
                        <mat-error *ngIf="impFin?.errors?.pattern">
                            Valore non valido
                        </mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="spaceBetween margin-bottom-20">
        <div class="backContainer">
            <button (click)="tornaAAttivitaDaSvolgere()" mat-button>
                <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
                <span class="backText">Torna alle attività da svolgere</span>
            </button>
        </div>
        <div>
            <button mat-button class="button-style-1 margin-right-10" (click)="indietro()">INDIETRO</button>
            <button mat-raised-button class="button-style-2" (click)="procedi()" *ngIf="!isValidated"> CONFERMA
            </button>
            <button mat-raised-button class="button-style-2" (click)="continua()" *ngIf="isValidated"> CONTINUA
            </button>
        </div>
    </div>
</div>