<!-- <mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone' : isLoading()}" id="scrollId">
    <div class="title">
        <div class="backContainer">
            <button mat-button>
                <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
                <span class="backText">Torna alle attività da svolgere</span>
            </button>
        </div>
        <div class="reportingContainerUp">
            <h2>Gestione Integrazioni</h2>
        </div>
    </div>

    <div class="content">
        <mat-card class="mat-elevation-z2" class="w-btn" style="align-content: flex-end; align-items: flex-end">
            <mat-card-content class="padding-left-10">
                <span>
                    <table class="content-table">
                        <tr>
                            <td>Beneficiario: <b>-</b></td>
                        </tr>
                        <tr>
                            <td>Codice progetto: <b>-</b></td>
                        </tr>
                    </table>
                </span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z2 messageError">
            <mat-card-content class="messageErrorContent">
                <p [innerHTML]="messageError"></p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <div class="button_title">
                    <span>
                        Elenco integrazioni
                    </span>
                    <span>
                        ELENCO DELLE INTEGRAZIONI WORKS!!!
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->