<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>

<div class="page" [ngClass]="{'displayNone': isLoading()}" id="scrollId">
    <div class="title">
        <div class="backContainer">
            <button (click)="goToAttivita()" mat-button>
                <mat-icon class="blue-icon">keyboard_backspace</mat-icon>
                <span class="backText">Torna alle attività da svolgere</span>
            </button>
        </div>
        <h2>Gestione Cronoprogramma</h2>
    </div>

    <div class="content">
        <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
            <mat-card-content class="messageErrorContent" *ngFor="let msg of messageError">
                <p>{{msg}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <app-cronoprogramma-fasi [apiURL]="apiURL" [user]="user" [isBR58a]="isBR58a" [isBR58b]="isBR58b"
        [idProgetto]="idProgetto" [idBandoLinea]="idBandoLinea"></app-cronoprogramma-fasi>
</div>