.bold-text {
    font-weight: bold;
    margin-right: 10px;
}

.mat-elevation-z2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.confirmButton {
    margin-top: 30px;
    margin-bottom: 3opx;
}

.dataInput {
    margin: 15px;
}

.comboBox {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
}

.display-flex {
    display: flex;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.viewport {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.viewport-full {
    height: 200px;
}

.viewport-1 {
    height: 40px;
}

.viewport-2 {
    height: 80px;
}

.viewport-3 {
    height: 120px;
}

.viewport-4 {
    height: 160px;
}

.viewport-item {
    height: 40px;
    text-overflow: ellipsis;
}

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100% !important;
}
