<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone': isLoading()}" id="scrollInd">
  <div class="content">
    <mat-card class="mat-elevation-z2 messageSuccess" *ngIf="isMessageSuccessVisible">
      <mat-card-content class="messageSuccessContent">
        <p>{{messageSuccess}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z2 messageWarning" *ngIf="isMessageWarningVisible">
      <mat-card-content class="messageWarningContent">
        <!-- <mat-icon>warning</mat-icon>-->
        <p>{{messageWarning}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
      <mat-card-content class="messageErrorContent" *ngFor="let msg of messageError">
        <!--<mat-icon>clear</mat-icon>-->
        <p>{{msg}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="content">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>

        <p *ngIf="!responseGetIndicatori || !responseGetIndicatori.indicatoriMonitoraggio" style="margin-top: 12px;">Non
          ci sono elementi da visualizzare.</p>
        <div
          [ngClass]="{'displayNone':!responseGetIndicatori.indicatoriMonitoraggio || responseGetIndicatori.indicatoriMonitoraggio.length===0}">
          <h4>Indicatori monitoraggio (è obbligatorio almeno un valore per ogni tipo indicatore)</h4>
          <form #tableForm="ngForm">
            <table mat-table [dataSource]="dataSource " [trackBy]="trackByFn" class="fullWidth">

              <ng-container matColumnDef="codice">
                <th mat-header-cell *matHeaderCellDef> Codice </th>
                <td mat-cell *matCellDef="let row">
                  <span *ngIf="row.idIndicatore">{{row.codIgrue}} </span>
                  <span *ngIf="!row.idIndicatore" style="font-weight: bold;" id="tipo{{row.idTipoIndicatore}}">Tipo
                    Indicatore:
                    {{row.descTipoIndicatore}}
                  </span>
                </td>
              </ng-container>

              <!--DESCRIZIONE-->
              <ng-container matColumnDef="descrizione">
                <th mat-header-cell *matHeaderCellDef> Descrizione</th>
                <td mat-cell *matCellDef="let row">
                  <span> {{row.descIndicatore}} </span>
                </td>
              </ng-container>

              <!--UNITA DI MISURA-->
              <ng-container matColumnDef="unitàDiMisura">
                <th mat-header-cell *matHeaderCellDef> Unità Di Misura </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.descUnitaMisura}}
                </td>
              </ng-container>

              <!--VALORE PROGRAMMATO-->
              <ng-container matColumnDef="valoreProgrammato">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Valore programmato
                </th>
                <td mat-cell *matCellDef="let row; let i = index" class="text-right">
                  <mat-form-field *ngIf="row.idIndicatore" class="text-right">
                    <ng-template #tipContent>
                      <div [innerHTML]="row.infoIniziale"></div>
                    </ng-template>
                    <mat-icon class="blue-color" matPrefix
                      (click)="showDialog('Valore programmato', row.infoIniziale, row.codIgrue)"
                      style="cursor: pointer;">
                      info</mat-icon>
                    <input type="text" matInput [(ngModel)]="row.valoreIniziale" name="valoreIniziale{{i}}"
                      #valIn="ngModel" (blur)="setValoreIniziale(row,i)"
                      [disabled]="!row.isValoreInizialeEditable || confermaSalvataggio"
                      pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" />
                    <mat-error *ngIf="valIn?.errors?.pattern">
                      Valore non valido
                    </mat-error>
                    <mat-error *ngIf="valIn?.errors?.error === 'nonAmmesso'">
                      Valore non ammesso
                    </mat-error>
                    <mat-error *ngIf="valIn?.errors?.error === 'required'">
                      Campo obbligatorio
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>

              <!--VALORE AGGIORNAMENTO-->
              <ng-container matColumnDef="valoreAggiornamento">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Valore aggiornamento
                </th>
                <td mat-cell *matCellDef="let row; let i = index;" class="text-right">
                  <mat-form-field class="text-right" *ngIf="row.idIndicatore">
                    <input type="text" matInput [(ngModel)]="row.valoreAggiornamento" name="valoreAggiornamento{{i}}"
                      #valAgg="ngModel" (blur)="setValoreAggiornamento(row,i)"
                      [disabled]="!row.isValoreAggiornamentoEditable || confermaSalvataggio"
                      pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" />
                    <mat-error *ngIf="valAgg?.errors?.pattern">
                      Valore non valido
                    </mat-error>
                    <mat-error *ngIf="valAgg?.errors?.error === 'nonAmmesso'">
                      Valore non ammesso
                    </mat-error>
                    <mat-error *ngIf="valAgg?.errors?.error === 'required'">
                      Campo obbligatorio
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>

              <!--VALORE REALIZZATO-->
              <ng-container matColumnDef="valoreRealizzato">
                <th mat-header-cell *matHeaderCellDef class="text-right"> Valore realizzato
                </th>
                <td mat-cell *matCellDef="let row; let i = index" class="text-right">
                  <mat-form-field class="text-right" *ngIf="row.idIndicatore">
                    <mat-icon class="blue-color" matPrefix
                      (click)="showDialog('Valore realizzato', row.infoFinale, row.codIgrue)" style="cursor: pointer;">
                      info</mat-icon>
                    <input type="text" matInput [(ngModel)]="row.valoreFinale" name="valoreFinale{{i}}"
                      #valFin="ngModel" (blur)="setValoreFinale(row,i)"
                      [disabled]="!row.isValoreFinaleEditable || confermaSalvataggio"
                      pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" />
                    <mat-error *ngIf="valFin?.errors?.pattern">
                      Valore non valido
                    </mat-error>
                    <mat-error *ngIf="valFin?.errors?.error === 'nonAmmesso'">
                      Valore non ammesso
                    </mat-error>
                    <mat-error *ngIf="valFin?.errors?.error === 'required'">
                      Campo obbligatorio
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <!-- </form>-->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </table>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="content"
    [ngClass]="{'displayNone':!responseGetIndicatori.altriIndicatori || responseGetIndicatori.altriIndicatori.length===0}">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>

        <h4 class="alignItemsCenter">Altri indicatori <mat-icon class="orange-color">warning</mat-icon> (gli
          indicatori contrassegnati da *
          sono obbligatori)</h4>
        <form #altriIndicatoriForm="ngForm">
          <table mat-table [dataSource]="dataSourceAltri" [trackBy]="trackByFn" class="fullWidth">

            <ng-container matColumnDef="codice">
              <th mat-header-cell *matHeaderCellDef> Codice </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.idIndicatore">{{row.codIgrue}} </span>
                <span *ngIf="!row.idIndicatore" class="bold-text" id="tipoAltri{{row.idTipoIndicatore}}">Tipo
                  Indicatore:
                  {{row.descTipoIndicatore}}
                </span>
              </td>
            </ng-container>

            <!--DESCRIZIONE-->
            <ng-container matColumnDef="descrizione">
              <th mat-header-cell *matHeaderCellDef> Descrizione</th>
              <td mat-cell *matCellDef="let row">
                <span> {{row.descIndicatore}} <span *ngIf="row.flagObbligatorio">*</span></span>
              </td>
            </ng-container>

            <!--UNITA DI MISURA-->
            <ng-container matColumnDef="unitàDiMisura">
              <th mat-header-cell *matHeaderCellDef> Unità Di Misura </th>
              <td mat-cell *matCellDef="let row">
                {{ row.descUnitaMisura}}
              </td>
            </ng-container>

            <!--VALORE PROGRAMMATO-->
            <ng-container matColumnDef="valoreProgrammato">
              <th mat-header-cell *matHeaderCellDef class="text-right"> Valore programmato
              </th>
              <td mat-cell *matCellDef="let row; let i = index" class="text-right">
                <mat-form-field *ngIf="row.idIndicatore" class="text-right">
                  <ng-template #tipContent>
                    <div [innerHTML]="row.infoIniziale"></div>
                  </ng-template>
                  <mat-icon class="blue-color" matPrefix
                    (click)="showDialog('Valore programmato', row.infoIniziale, row.codIgrue)" style="cursor: pointer;">
                    info</mat-icon>
                  <input type="text" matInput [(ngModel)]="row.valoreIniziale" name="valoreInizialeAltri{{i}}"
                    #valIn="ngModel" (blur)="setValoreIniziale(row,i)"
                    [disabled]="(!row.isValoreInizialeEditable && !isRettifica) || confermaSalvataggio"
                    pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" />
                  <mat-error *ngIf="valIn?.errors?.pattern">
                    Valore non valido
                  </mat-error>
                  <mat-error *ngIf="valIn?.errors?.error === 'nonAmmesso'">
                    Valore non ammesso
                  </mat-error>
                  <mat-error *ngIf="valIn?.errors?.error === 'required'">
                    Campo obbligatorio
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <!--VALORE AGGIORNAMENTO-->
            <ng-container matColumnDef="valoreAggiornamento">
              <th mat-header-cell *matHeaderCellDef class="text-right"> Valore aggiornamento
              </th>
              <td mat-cell *matCellDef="let row; let i = index;" class="text-right">
                <mat-form-field class="text-right" *ngIf="row.idIndicatore">
                  <input type="text" matInput [(ngModel)]="row.valoreAggiornamento" name="valoreAggiornamentoAltri{{i}}"
                    #valAgg="ngModel" (blur)="setValoreAggiornamento(row,i)"
                    [disabled]="(!row.isValoreAggiornamentoEditable && !isRettifica) || confermaSalvataggio"
                    pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" />
                  <mat-error *ngIf="valAgg?.errors?.pattern">
                    Valore non valido
                  </mat-error>
                  <mat-error *ngIf="valAgg?.errors?.error === 'nonAmmesso'">
                    Valore non ammesso
                  </mat-error>
                  <mat-error *ngIf="valAgg?.errors?.error === 'required'">
                    Campo obbligatorio
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <!--VALORE REALIZZATO-->
            <ng-container matColumnDef="valoreRealizzato">
              <th mat-header-cell *matHeaderCellDef class="text-right"> Valore realizzato
              </th>
              <td mat-cell *matCellDef="let row; let i = index" class="text-right">
                <mat-form-field class="text-right" *ngIf="row.idIndicatore">
                  <mat-icon class="blue-color" matPrefix
                    (click)="showDialog('Valore realizzato', row.infoFinale, row.codIgrue)" style="cursor: pointer;">
                    info</mat-icon>
                  <input type="text" matInput [(ngModel)]="row.valoreFinale" name="valoreFinaleAltri{{i}}"
                    #valFin="ngModel" (blur)="setValoreFinale(row,i)"
                    [disabled]="(!row.isValoreFinaleEditable && !isRettifica) || confermaSalvataggio"
                    pattern="([0-9]+[\.])*[0-9]*([,][0-9]+)?" />
                  <mat-error *ngIf="valFin?.errors?.pattern">
                    Valore non valido
                  </mat-error>
                  <mat-error *ngIf="valFin?.errors?.error === 'nonAmmesso'">
                    Valore non ammesso
                  </mat-error>
                  <mat-error *ngIf="valFin?.errors?.error === 'required'">
                    Campo obbligatorio
                  </mat-error>
                </mat-form-field>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
          </table>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="content" *ngIf="!isReadOnly">
    <div class="endPageButton" *ngIf="!confermaSalvataggio">
      <button mat-raised-button class="button-style-2" (click)="salva()">
        <span *ngIf="isRettifica">RETTIFICA</span>
        <span *ngIf="!isRettifica">SALVA</span>
      </button>
    </div>
    <div class="spaceBetween" *ngIf="confermaSalvataggio">
      <button mat-raised-button class="button-style-2" (click)="annulla()"> ANNULLA
      </button>
      <button mat-raised-button class="button-style-2" (click)="confermaSalva()">
        CONFERMA </button>
    </div>
  </div>
</div>