.width-data {
    width: 160px !important;
}

.width-49-perc {
    width: 49%;
}

.display-flex {
    display: flex;
}

.floatDiv {
    float: left;
    margin: auto;
}

.mat-elevation-z2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}
