.page {

    .content {

        .header {
            display: flex;
            align-items: center;

            h3 {
                font-size: 18px;
                font-weight: bold;
            }

            .arrow {
                color: grey;
            }

        }

    }
}

.backContainer {
    padding-bottom: 5px;

    button {
        padding: 0px;
    }
    .blue-icon {
        color: #0060c1;
    }

    .backText {
        color: #0060c1;
        font-size: 16px;
        padding-left: 10px;
    }
}

table {
    width: 100%;
}

::ng-deep .mat-paginator .mat-paginator-range-actions .mat-icon-button:enabled {
    color: #0058b1 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #0058B1!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #0058B1;
}

.paddingRight15 {
    padding-right: 15px;
}

.textAlignRight {
    text-align: right;
}

.fullWidth{
    width: 100%;
}

.customButton {
    border: 2px solid #9D9D9C !important;
    font-size: 16px;
    font-weight: bold;
    color: #9D9D9C !important;
}

.marginRight25 {
    margin-right: 25px;
}