::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
}
.overflow-hidden {
    overflow: hidden;
}
.white-space-nowrap {
    white-space: nowrap;
}