.width-49-perc {
  width: 49%;
}

.width-data {
  width: 200px !important;
}

.width-100px {
  width: 100px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.display-flex {
  display: flex;
}

.align-items-baseline {
  align-items: baseline;
}

.textAlignRight {
  display: flex;
  justify-content: flex-end;
}
.noElements {
  display: flex;
  justify-content: center;
  color: grey;
  font-weight: 400;
  font-size: 13px;
}
mat-radio-button {
  padding-left: 15px;
}

.blue-color {
  color: #0060c1;
}
.blueIcon {
  color: #0060c1;
}
.blueIconWithBorder {
  color: #0060c1;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
}
/*.whiteIcon{
  color: #FFFFFF;
  background-color: #0060C1;
  border: 1px solid;
  border-radius: 5px;
  width: 40px;
  height: 40px;

}*/
.displayNone {
  display: none !important;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.paddingLeft20 {
  padding-left: 20px;
}

.endPageButton {
  display: flex;
  justify-content: flex-end;
  /* width: 80%;*/
  margin-left: 15px;
  margin-top: 15px;
}

.button-style-1 {
  color: #0060c1;
  font-size: 16px;
  font-weight: bold;
}

textarea.disabled {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera -  remove arrows from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox -  remove arrows from input type number */
input[type="number"] {
  -moz-appearance: textfield;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #0058b1 !important; /*click effect color change*/
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #0058b1 !important; /*inner circle color change*/
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #0058b1 !important; /*outer ring color change*/
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #0060c1 !important;
}

::ng-deep .mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0058b1 !important; /*click effect color change*/
}
