.bold-text {
    font-weight: bold;
}

.width-49-perc {
    width: 49%;
}

.padding-right-10 {
    padding-right: 10px;
}

::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
}
