.blue-color {
  color: #0060C1;
}

.displayNone {
  display: none !important;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.endPageCancelButton {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  margin-top: 15px;
}


.endPageButton {
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
  margin-top: 15px;
}

.paddingLeft20 {
  padding-left: 20px;
}

.bold-text{
  font-weight: bold;
}

th, td {
  padding-right: 10px !important;
}

::ng-deep .mat-paginator .mat-paginator-range-actions .mat-icon-button:enabled {
  color: #0058B1 !important;
}

::ng-deep .mat-form-field-infix {
  width: 12% !important;
}