.bold-text {
    font-weight: bold;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
}
