.bold-text {
    font-weight: bold;
}

.text-right {
    text-align: right !important;
}

::ng-deep .mat-dialog-container {
    height: auto !important;
    overflow: hidden;
    overflow-y: auto !important;
}
