<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div class="page" [ngClass]="{'displayNone': isLoading()}" id="scrollId">
    <div class="title">
        <div class="reportingContainerUp">
            <div>
                <h2>Inserimento Ricevuta istruttoria BDNA</h2>
                <div [hidden]="!error">
                    <div  class="content width-100-perc margin-0 max-width-89-perc">
                        <mat-card  class="mat-card mat-focus-indicator messageError"
                            >
                            <mat-card-content  class="mat-card-content messageWarningContent"
                                >
                                <h3  class="bold-text margin-bottom-5">
                                    ATTENZIONE!
                                </h3>
                                <p  id="ellipsisP"
                                    class="white-space-nowrap text-overflow-ellipsis overflow-hidden">
                                    Ops! Qualcosa è andato storto, controlla che i campi sia compilati correttamente.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div [hidden]="!success">
                    <div  class="content width-100-perc margin-0 max-width-89-perc">
                        <mat-card  class="mat-card mat-focus-indicator messageSuccess"
                            >
                            <mat-card-content  class="mat-card-content messageWarningContent"
                                >
                                <h3  class="bold-text margin-bottom-5">
                                    SUCCESSO!
                                </h3>
                                <p  id="ellipsisP"
                                    class="white-space-nowrap text-overflow-ellipsis overflow-hidden">
                                    La richiesta è stata elaborata correttamente.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <mat-card class="mat-elevation-z2">
            <mat-card-content class="padding-left-10">
                <form [formGroup]="myForm">
                    <div class="row">
                        <mat-form-field class="col">
                            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="dataRicezione" [disabled]="false"
                                placeholder="Data ricezione" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="col">
                            <input matInput type="text" placeholder="N. Protocollo ricevuta BDNA"
                                formControlName="numeroProtocolloRicevuta" [disabled]="false" />
                        </mat-form-field>
                        <mat-error *ngIf="myForm.controls['numeroProtocolloRicevuta'].hasError('maxlength')">
                            Il numero di caratteri deve essere max 20
                        </mat-error>
                    </div>
                    <mat-divider class="divider" [inset]="true"></mat-divider>
                    <h3>Documento</h3>
                    <div class="row">
                        <div class="col">
                            <button mat-button class="button-style-1" (click)="uploadFile.click()">ALLEGA DOCUMENTO</button>
                            <!-- <button mat-button class="button-style-1 orange-color" (click)="file=null" [disabled]="!file">ANNULLA</button> -->
                            <input [hidden]="true" type="file" #uploadFile id="uploadFile" name="uploadFile"
                            (change)="handleFileInput($event.target.files[0])"/>
                        </div>
                        <div class="col">
                            <button mat-button class="button-style-1 orange-color" (click)="setFileNull()" [disabled]="!file">ANNULLA</button>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field class="margin-right-10" class="fullWidth">
                            <input type="text" matInput placeholder="Nome file" formControlName="nomeFile"
                                disabled="true" />
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <button mat-raised-button class="button-style-2 margin0" [disabled]="!myForm.valid" (click)="confermaElaborazione()">
                            CONFERMA
                        </button>
                        <button mat-button class="button-style-1" (click)="reset()">
                            AZZERA
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>