<mat-spinner-pbandi class="page" *ngIf="isLoading()"></mat-spinner-pbandi>
<div [ngClass]="{'displayNone': isLoading()}">
    <div class="spaceBetween align-items-center margin-bottom-15">
        <h3 class="bold-text margin-0">{{title}}</h3>
        <button type="button" mat-icon-button class="blue-color" (click)="close()" cdkFocusInitial>
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <mat-card class="mat-elevation-z2 messageError" *ngIf="isMessageErrorVisible">
        <mat-card-content class="messageErrorContent">
            <p [innerHTML]="messageError"></p>
        </mat-card-content>
    </mat-card>

    <p *ngIf="motivo?.length > 0"><span class="bold-text">Motivazione:&nbsp;</span><span [innerHTML]="motivo"></span>
    </p>

    <div *ngIf="letteraAccompagnatoria?.idDocumentoIndex">
        <span class="bold-text">Lettera accompagnatoria:</span>
        <div class="spaceBetween align-items-center width-98-perc">
            <a matTooltip="Download file" class="blue-color bold-text size13 linkAllegati padding-top-3"
                (click)="downloadAllegato(letteraAccompagnatoria.idDocumentoIndex,letteraAccompagnatoria.nomeFile)">{{letteraAccompagnatoria.nomeFile}}</a>
            <div class="alignItemsCenter">
                <button mat-icon-button matTooltip="Anteprima allegato" (click)="anteprimaLettera()">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>