.margin-right-10 {
	margin-right: 10px;
}

.width-49-perc {
	width: 49%;
}

.width-data {
	width: 140px !important;
}

.width-data-extended {
	width: 155px !important;
}

.light-blue-background-color {
	background-color: #178cd633;
}

::ng-deep .mat-form-field-infix {
	width: 5% !important;
}