<h2 class="bold-text blueText marginLeft10">Info & Contatti</h2>
<div class="fontSize13" style="display: flex;">
    <div class="marginLeft10" style="width: 60%;">
        <p class="bold fontSize14">Per informazioni o chiarimenti
            sul contenuto dei bandi e documentazione</p>
        <mat-divider class="marginBottom10" style="width: 90%;"></mat-divider>
        <span class="bold">Finpiemonte S.p.A.</span>
        <br>
        Galleria San Federico, 54 - 10121 Torino
        <br>
        Tel. <span class="bold">011 57 17 777</span>
        <br>
        <span class="bold">Orario</span>:
        <br>
        dal lunedì al venerdì: 09,00 - 12,00.
        <br>
        <br>
        oppure è possibile compilare il modulo all'indirizzo <a class="blueText noUnderline"
            href="https://www.finpiemonte.it/urp" target="_blank">www.finpiemonte.it/urp</a>,
        indicando sempre il numero domanda.
    </div>

    <div class="marginLeft10" style="width: 40%;">
        <p class="bold fontSize14">Per informazioni sulla procedura informatica</p>
        <mat-divider class="marginBottom10" style="width: 90%;"></mat-divider>
        <span class="bold">CSI Piemonte</span>
        <br>
        Tel. <span class="bold">011 08 24 407</span>
        <br>
        <span class="bold">Orario</span>:
        <br>
        dal lunedì al venerdì dalle ore 8,30 alle ore 17,30.
        <br>
        <br>
        oppure è possibile compilare il <a class="blueText noUnderline"
            href="https://apaf-moon.csi.it/modulistica/?codice_modulo=PBAN" target="_blank">MODULO DI ASSISTENZA</a>.
    </div>
</div>
<mat-divider class="marginBottom10 marginTop15" style="width: 95%;"></mat-divider>
<div class="fontSize13">
    Per revocare o modifica il consenso alla ricezione di comunicazioni via e-mail oppure modificare l'e-mail indicata,
    scrivere a <a class="blueText noUnderline" href="mailto:gestione.finanziamenti@csi.it"
        target="_blank">gestione.finanziamenti@csi.it</a>
</div>
<div class="textAlignRight marginTop10">
    <button class="button-style-2 " mat-raised-button (click)="close()">
        CHIUDI
    </button>
</div>