.row {
    display: flex;

    .col50 {
        width: 48%;
    }

    .col25 {
        width: 24%;
    }
}

.margin0 {
    margin: 0px;
}

.margin-right-5 {
    margin-right: 5px;
}

.marginLeft4 {
    margin-left: 4px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.green-color {
    color: #065c00;
}

.purple-color {
    color: #90f;
}

.cursor-pointer {
    cursor: pointer;
}

.width-40 {
    width: 40%;
}

.width-70 {
    width: 70%;
}

mat-grid-tile {
    div {
        width: 100%;
    }
}