.flex-end{
    justify-content: flex-end;
}

.margin-figlio{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.padding-td{
    display: flex;
    flex-direction: column;
}

.margin-rimodula-button{
    margin-left: 2rem;
}

.rimodula-display{
    display: flex;
    justify-content: flex-end;
}